{% extends "base_financiero.html" %}

{% block coordinador%}
<div id="menu" class="row">
	<div class="col-12 mlat">
		<div id="titulo" class="row">
			<div class="col-2">
				<i class="fas fa-tasks"></i>
			</div>
			<div class="col-8">
				<h5>Tareas Coordinador</h5>
			</div>
			<div class="col-2"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<a class="menu" href="{% url 'pendiente_aprobacion' %}">
			<div class="row">
				<div class="col-12">
					<span>Pendientes de aprobación</span>
				</div>
			</div>
		</a>
	</div>
</div>
{% endblock coordinador%}