{% extends 'base_coordinador.html' %}
{% load static %}
{% load bootstrap4 %}
{% load my_tags %}

{% block title %}{{ "EC - Pendientes de Aprobación" }}{% endblock title %}

{% block extraheader %}
<link rel="stylesheet" type="text/css" href="css/por_aprobar.css">
{% endblock extraheader %}

{% block content %}
<h2 class="text-uppercase darkgreen-text">Listado de Autorizaciones</h2>

<div class="campo mt-2 p-2">
	<h5 class="text-uppercase black-text mb-0">Órdenes de Facturación</h5>
</div>
<div class="row">
	<div class="col-12 col-xl-12">
		<div class="row">
			<div class="col-12 col-xl-12">
				<table class="table table-responsive-md border-bottom">
					<thead class="white-text darkgreen-bg">
						<tr>
							<th scope="col">Ver Detalles</th>
							<th scope="col">Código</th>
							<th scope="col">Cliente</th>
							<th scope="col">ID</th>
							<th scope="col">Fecha</th>
							<th scope="col">Cant. Partic.</th>
							<th scope="col">Costo</th>
							<th scope="col">Estado</th>
						</tr>
					</thead>
					{% if orden_fact %}
					<tbody>
						{% for orden in orden_fact %}
						<tr class="text-center">
							<td scope="row"><a class="btn btn-light btn-sm darkgreen-text"
								href="{% url 'orden_facturacion_aprobar' orden.pk %}"><i class="fas fa-eye"></i></a></td>
							<td scope="row">{{orden.cod_orden_fact}}</td>
							<td scope="row">{{orden.razon_nombres}}</td>
							<td scope="row">{{orden.ruc_ci}}</td>
							<td scope="row">{{orden.fecha}}</td>
							<td scope="row">{{orden.n_participantes}}</td>
							<td scope="row">{{orden.valor_total |currency}}</td>
							<td scope="row">{{orden.get_estado_display}}</td>
						</tr>
						{% endfor %}
					</tbody>
					{% else %}
					<h2>No hay órdenes de facturación por aprobar</h2>
					{% endif %}
				</table>
			</div>
		</div>

	</div>
</div>
<br>

<div class="campo mt-2 p-2">
	<h5 class="black-text text-uppercase mb-0">Órdenes de Pago</h5>
</div>
<div class="row">
	<div class="col-12 col-xl-12">
		<div class="row">
			<div class="col-12 col-xl-12">
				<table class="table table-responsive-md border-bottom">
					<thead class="white-text darkgreen-bg">
						<tr>
							<th scope="col">Ver Detalles</th>
							<th scope="col">Código</th>
							<th scope="col">Fecha</th>
							<th scope="col">Proveedor</th>
							<th scope="col">Centro Costos</th>
							<th scope="col">Egreso</th>
							<th scope="col">Anexo</th>
						</tr>
					</thead>
					{% if orden_pago %}

					<tbody>
						{% for ord in orden_pago %}
						<tr class="text-center">
							<td scope="row"><a class="btn btn-light btn-sm darkgreen-text"
									href="{% url 'orden_pago_editarAUTR' ord.id %}"><i class="fas fa-eye"></i></a></td>
							<td scope="row">{{ ord.cod_ord_pago }}</td>
							<td scope="row">{{ ord.fecha }}</td>
							<td scope="row">{{ ord.proveedor }}</td>
							<td scope="row">{{ ord.centro_costos }}</td>
							<td scope="row">{{ ord.egreso }}</td>
							<td scope="row">
								{% if ord.anexo %}
								<a class="btn btn-secondary" href="#" target="_blank"> Descargar</a>
								{% else %}
								No anexo
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
					{% else %}
					<h2>No hay órdenes de pago por aprobar</h2>
					{% endif %}
				</table>
			</div>
		</div>

	</div>
</div>
<br>

<div class="campo mt-2 p-2">
	<h5 class="black-text text-uppercase mb-0">Presupuestos de Eventos</h5>
</div>
<div class="row">
	<div class="col-12 col-xl-12">
		<div class="row">
			<div class="col-12 col-xl-12">
				<table class="table table-responsive-md border-bottom">
					<thead class="white-text darkgreen-bg">
						<tr>
							<th scope="col">Ver Detalles</th>
							<th scope="col">Estado</th>
							<th scope="col">Nombre</th>
							<th scope="col">Fecha</th>
							<th scope="col">Aula</th>
							<th scope="col">Horas</th>
							<th scope="col">No. Días</th>
							<th scope="col">No. Participantes</th>
						</tr>
					</thead>
					{% if presupuestos_ev %}

					<tbody>
						{% for p in presupuestos_ev %}
						<tr class="text-center">
							<td scope="row"><a class="btn btn-secondary float-right"
									href="{% url 'aprobar_presupuestos' pk=p.id %}"><i class="fas fa-eye"></i></a></td>
							<td scope="row">{{p.codigo}}</td>
							<td scope="row">{{p.estado}}</td>
							<td scope="row">{{p.nombre}}</td>
							<td scope="row">{{p.fecha}}</td>
							<td scope="row">{{p.aula}}</td>
							<td scope="row">{{p.n_horas}}</td>
							<td scope="row">{{p.n_dias}}</td>
							<td scope="row">{{p.n_participantes}}</td>
						</tr>
						{% endfor %}
					</tbody>
					{% else %}
					<h2>No hay presupuestos de eventos por aprobar</h2>
					{% endif %}
				</table>
			</div>
		</div>

	</div>
</div>

<div class="campo mt-2 p-2">
	<h5 class="black-text text-uppercase mb-0">Presupuestos Anuales</h5>
</div>
<div class="row">
	<div class="col-12 col-xl-12">
		<div class="row">
			<div class="col-12 col-xl-12">
				<table class="table table-responsive-md border-bottom">
					<thead class="white-text darkgreen-bg">
						<tr>
							<th scope="col">Ver Detalles</th>
							<th scope="col">Año</th>
							<th scope="col">Centro de Costos</th>
							<th scope="col">Nombre</th>
						</tr>
					</thead>
					{% if presupuestos_an or presupuestos_an_fundespol %}
					<tbody>
						{% for p in presupuestos_an %}
						<tr class="text-center">
							<td scope="row"><a class="btn btn-secondary float-right"
									href="{% url 'presupuesto_anual_editarAUTR' pk=p.id %}"><i class="fas fa-eye"></i></a></td>
							<td scope="row">{{p.año}}</td>
							<td scope="row">{{p.centro_costos}}</td>
							<td scope="row">{{p.nombre}}</td>
						</tr>
						{% endfor %}
						{% for p2 in presupuestos_an_fundespol %}
						<tr class="text-center">
							<td scope="row"><a class="btn btn-secondary float-right"
									href="{% url 'presupuesto_anual_editarAUTR_fundespol' pk=p2.id %}"><i class="fas fa-eye"></i></a></td>
							<td scope="row">{{p2.año}}</td>
							<td scope="row">{{p2.centro_costos}}</td>
							<td scope="row">{{p2.nombre}}</td>
						</tr>
						{% endfor %}
					</tbody>
					{% else %}
					<h2>No hay presupuestos anuales por aprobar</h2>
					{% endif %}
				</table>
			</div>
		</div>

	</div>
</div>

<div class="campo mt-2 p-2">
	<h5 class="black-text text-uppercase mb-0">Cambio de evento</h5>
</div>
<div class="row">
	<div class="col-12 col-xl-12">
		<div class="row">
			<div class="col-12 col-xl-12">
				<table class="table table-responsive-md border-bottom">
					<thead class="white-text darkgreen-bg">
						<tr>
							
							<th scope="col">Participante</th>
							<th scope="col">Evento origen</th>
							<th scope="col">Evento destino</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					{% if cambio_eventos %}

					<tbody>
						{% for p in cambio_eventos %}
						<tr class="text-center">
							
							<td scope="row">{{p.participante}}</td>
							<td scope="row">{{p.evento_origen}}</td>
							<td scope="row">{{p.evento_destino}}</td>
							<td scope="row">

								<a class="btn btn-light darkgreen-text btn-sm" href="{% url 'procesos_especiales_cambio_evento_autorizar' pk=p.id %}" data-toggle="tooltip" data-placement="top"title="Aprobar"><i
										class="fas fa-check"></i></a>
								<a class="btn btn-light darkgreen-text btn-sm" href="{% url 'procesos_especiales_cambio_evento_anular' pk=p.id %}" data-toggle="tooltip" data-placement="top"title="Anular"><i
										class="fas fa-times"></i></a>



								</td>
						</tr>
						{% endfor %}
					</tbody>
					{% else %}
					<h2>No hay cambios de evento por aprobar</h2>
					{% endif %}
				</table>
			</div>
		</div>

	</div>
</div>
{% endblock %}