{% extends 'base_financiero.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load staticfiles %}
{% block title %}{{ "EC - Presupuesto Anual" }}{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/presupuestoanual.css' %}">
<div class="row mb-2 d-flex white-bg">
	<div class="col-9 v-align">
		<h2>CONSULTAS <span class="darkgreen-text">PRESUPUESTO ANUAL</span></h2>
	</div>
	<div class="col-3 v-align">
		<!--<a class="btn btn-secondary green-bg float-right" href="{% url 'presupuesto_anual_nuevo' %}"><i class="fas fa-plus"></i>
			Agregar Nuevo</a>-->
		<div class="dropdown">
			<button class="btn btn-secondary green-bg float-right dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agregar Nuevo</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="{% url 'presupuesto_anual_nuevo' %}">Espoltech</a>
				<a class="dropdown-item" href="{% url 'presupuestos_anuales_nuevo_fundespol' %}">Fundespol</a>
			</div>
		</div>
	</div>
</div>
<div class="row darkwhite-bg py-2">
	<div class="col-12">
		<form method="GET">
			{% csrf_token %}
			<div class="row">
				<div class="col-3 col-xl-3">
					{{ filter.form.año|as_crispy_field }}
				</div>
				<div class="col-9 col-xl-9">
					{{ filter.form.nombre|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-4 col-xl-4">
					{{ filter.form.centro_costos|as_crispy_field }}
				</div>
			</div>
			<div>
				<button type="submit" class="btn btn-secondary green-bg float-right"><i class="fas fa-search"></i> Buscar</button>
			</div>
		</form>
	</div>
</div>
<br>
<div class="row mt-2">
	<div class="col-12 col-xl-12">
		<table id="dtBasicExample" class="table table-responsive-md">
			<thead class="white-text darkgreen-bg">
				<tr>
					<th scope="col">Año</th>
					<th scope="col">Centro de costos</th>
					<th scope="col">Nombre</th>
					<th scope="col">Estado</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			{% if presupuestos_an or presupuesto_lista_f %}
			<tbody>
				<!-- ESPOLTECH -->
				{% for pre in filter.qs %}
				<tr class="text-center">
					<td scope="row">{{ pre.año }}</td>
					<td scope="row">{{ pre.centro_costos }}</td>
					<td scope="row">{{ pre.nombre }}</td>
					<td scope="row">{{ pre.get_estado_display }}</td>
					<td scope="row">
						<a class="btn btn-light btn-sm" href="{% url 'presupuesto_anual_editar' pre.id %}"><i
								class="fas fa-edit darkgreen-text"></i></a>
						<a href='javascript:;' onclick='anular({{ pre.id }}, "ESPOLTECH");' class="btn btn-light darkgreen-text btn-sm"><i class="fas fa-trash"></i></a>
					</td>
				</tr>
				{% endfor%}

				<!-- FUNDESPOL -->
				{% for pre in filter_f.qs %}
				<tr class="text-center">
					<td scope="row">{{ pre.año }}</td>
					<td scope="row">{{ pre.centro_costos }}</td>
					<td scope="row">{{ pre.nombre }}</td>
					<td scope="row">{{ pre.get_estado_display }}</td>
					<td scope="row">
						<a class="btn btn-light btn-sm" href="{% url 'presupuesto_anual_editar_fundespol' pre.id %}"><i
								class="fas fa-edit darkgreen-text"></i></a>
						<a href='javascript:;' onclick='anular({{ pre.id }}, "FUNDESPOL");' class="btn btn-light darkgreen-text btn-sm"><i class="fas fa-trash"></i></a>
					</td>
				</tr>
				{% endfor%}

			</tbody>
			{% else %}
			<h2>No hay elementos que mostrar</h2>
			{% endif %}
		</table>
	</div>
</div>

<div id="myModal" class="modal">
  	<div class="modal-content">
	    <span class="close">&times;</span>
	    <div id="modal-form">
	    </div>
  	</div>
</div>

{% endblock %}

{% block extrafooter %}
<script src="{% static 'js/table.js' %}"></script>
<script>
  	function anular(id, centro_costos){
  		var modal = document.getElementById("myModal");
  		modal.style.display = "block";

		var span = document.getElementsByClassName("close")[0];


		span.onclick = function() {
			modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}

		var url_d;
		if(centro_costos == "ESPOLTECH"){
			url_d = "{% url 'presupuesto_anual_anular' %}"
		}else{
			url_d = "{% url 'presupuesto_anual_anular_fundespol' %}"
		}

		$.ajax({
			url: url_d,  
			data:{
				"pk": id
			}, 
			success: function (data) {   
				$("#modal-form").html(data);  
			}
		});
	}

	function cerrar(e){
		var modal = document.getElementById("myModal");
  		modal.style.display = "block";
		modal.style.display = "none";
	}

</script>
{% endblock extrafooter %}