{% extends "base_ventas.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-3">
        <h2 class="col-12">Propuesta Corporativa</h2>
        </div>
        <div class="row">
        <div class="col-12">
            <form action="" method="get">
                <div class="form-row ">
                    <div class="col-6">
                        {{ filter.form.empresa|as_crispy_field }}
                    </div>
                    <div class="col-6">
                            {{ filter.form.cod_propuesta|as_crispy_field }}
                        </div>
                    <div class="col-6">
                        {{ filter.form.estado|as_crispy_field }}
                    </div>
                    <div class="col-6 align-self-end">
                        <div class="form-group">
                                <button type="submit" class="btn btn-secondary">Buscar</button>
                        </div>
                    </div>
                </div>
            </form>
                    
        </div>
        </div>
        
        <div class="row">
            <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Código propuesta</td>
                    <td>Empresa</td>
                    <td>Estado</td>
                    <td>Anexo</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% if filter %}
                {% for propuesta in filter.qs %}
                <tr>
                    <td>{{propuesta.cod_propuesta}}</td>
                    <td>{{propuesta.empresa}}</td>
                    <td>{{propuesta.get_estado_display}}</td>
                    <td>{{propuesta.anexo}}</td>
                    <td>
                        <a class="btn btn-secondary" href="{% url 'propuesta_editar' propuesta.cod_propuesta%}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" href="{% url 'propuesta_eliminar' propuesta.cod_propuesta%}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <h1>No hay datos</h1>
                {% endif %}
        
            </tbody>
        </table>
        <a class="btn btn-secondary" href="{% url 'propuesta_nuevo' %}">Agregar nuevo</a>
        </div>
        </div>
{% endblock content %}