{% extends 'base_financiero.html' %}

{% load crispy_forms_tags %}

{% load static %}
{% load staticfiles %}
{% block title %}{{ "EC - Plan Anual de Compras Registro" }}{% endblock title %}

{% block content %}

<form method="post" novalidate>
	{% csrf_token %}
	<div class="row mb-2">
		<div class="col-12 col-xl-12">
			<h2 class="text-uppercase darkgreen-text">
				{% block regedit %}
				Registro Plan Anual de Compras
				{% endblock regedit %}
			</h2>
		</div>
	</div>
	<div class="row darkwhite-bg py-2 pb-3">
		<div class="mt-2 campo p-2 pl-3 col-12">
			<h5 class="black-text text-uppercase mb-0">Información básica</h5>
		</div>
	</div>
	<div class="row darkwhite-bg py-2">
		<div class="col-2 col-xl-2">
			{{ form.año|as_crispy_field }}
		</div>
		<div class="col-10 col-xl-10">
			{{ form.nombre|as_crispy_field }}
		</div>
	</div>
	{% block tablas %}
	<div class="row mt-3">
	    <div class="col-12">
	      	<button type="submit" class="btn btn-secondary green-bg">Siguiente</button>
	      	<a class="btn btn-secondary" href="{% url 'pac_index' %}"> Cancelar </a>
	    </div>
	</div>
	{% endblock tablas %}
	{{ form.media }}
</form>

{% endblock %}