{% load fontawesome_5 %}
{% load bootstrap4 %}
{% load static %}

<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}{{ page_title|default:"Educación Continua" }}{% endblock title %}
   		</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base_financiero.css' %}">
		{% bootstrap_css %}
		{% fontawesome_5_static %}
	</head>
	<body>
		<div class="container-fluid">
		<header class="col-12 col-xl-12">
			<div class="row">
				<a class="col-xl-3 col-3" href="#">
					<img class ="img-fluid" src="{% static 'images/logo_EC.png' %}" alt="logo">
				</a>
				<div class="col-xl-5 col-5"></div>
				<p id="username" class="col-2 col-xl-2">user@mail.com</p>
				<div class="col-2 col-xl-2">
					<a id="salir" href="#" clss="btn btn-secondary btn-block">Salir</a>
				</div>
			</div>
		</header>

		<div class="row">
			<div class="col-3 col-xl-3">
				<h4 id="op_principal"><i class="fas fa-file-invoice-dollar"></i>Mantenimiento</h4>
				<a id="op_sec" href="#">Centro de Costos</a>

				<h4 id="op_principal"><i class="fas fa-file-contract"></i>Consultas</h4>
				<a id="op_sec" class="border-bottom" href="#">Orden de Facturación</a>
				<a id="op_sec" class="border-bottom" href="#">Cobros</a>
				<div class="dropright">
					<a id="op_sec" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Orden de pago</i></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" id="op_sec" href="#">Por Criterio</a>
						<a class="dropdown-item" id="op_sec" href="#">Pendientes de Procesos</a>
					</div>
				</div>

				<h4 id="op_principal"><i class="fas fa-file-invoice-dollar"></i>Procesos</h4>
				<a id="op_sec" class="border-bottom" href="#">Autorización</a>
				<a id="op_sec" class="border-bottom" href="#">Solicitud de Pago</a>
				<a id="op_sec" href="#">Registro de Facturas</a>

				<h4 id="op_principal"><i class="fas fa-chart-bar"></i>Reportes</h4>
				<a id="op_sec" class="border-bottom" href="#">Conciliación de Ingresos</a>
				<a id="op_sec" class="border-bottom" href="#">Resultado de Eventos</a>
				<a id="op_sec" href="#">Consolidado por Evento</a>
			</div>
			<div class="col-9 col-xl-9">
				{% block content %}
				{% endblock %}
			</div>
		</div>

		<footer class="col-12 col-xl-12">salu2 jeje</footer>
		{% bootstrap_javascript jquery='full' %}
		</div>
	</body>
</html>
