header{
	display: inline-block;
}

div#menu{
	border-bottom: 10px #000000;
}

div#menu h3{
	background-color: #A4A4A4;
	color: #FFFFFF;
	text-align: center;
}

button#salir{
	height: 40px;
	width: 25%;
	border-color: #A4A4A4;
	background-color: #A4A4A4;
	color: #FFFFFF;
	align-self: center;
	border-radius: 5px;
}

div#menu a{
	display: block; /*para que se muestren uno debajo de otro*/
	padding: 12px;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

div#menu a:hover{
	background-color: #D8D8D8
}

div#extras div{
	height: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-style: solid;
	border-color: #A4A4A4;
	border-width: 2px;
}

a#plus{
	background-color: #FFFFFF;
	align-items: right;
	color: #A4A4A4;
}
