{% extends 'base_ventas.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="row mb-2">
        <div class="col-12 col-xl-12">
            <h2 class="text-uppercase darkgreen-text">
                {% block regedit %}
                Registro Propuesta Corporativa
                {% endblock regedit %}
            </h2>
        </div>
    </div>
    <div class="row darkwhite-bg py-2">
        <div class="col-12">
            <div class="form-row">
                <div class="col-6 col-md-3 mb-0">{{ form.cod_propuesta|as_crispy_field }}</div>
                <div class="col-6 col-md-2 mb-0">{{ form.version|as_crispy_field }}</div>
                <div class="col-6 col-md-7 mb-0">{{ form.nombre_propuesta|as_crispy_field }}</div>
                <div class="col-6 col-md-4 mb-0">{{ form.tipo_empresa|as_crispy_field }}</div>
                <div class="col-6 col-md-4 mb-0">{{ form.reporte|as_crispy_field }}</div>
                <div class="col-6 col-md-4 mb-0">{{ form.estado|as_crispy_field }}</div>
                <div class="col-6 mb-0">{{ form.empresa|as_crispy_field }}</div>
                <div class="col-6 mb-0">{{ form.sector|as_crispy_field }}</div>
                <div class="col-6 col-md-3 mb-0">{{ form.fecha_solicitud|as_crispy_field }}</div>
                <div class="col-6 col-md-3 mb-0">{{ form.numero_participantes|as_crispy_field }}</div>
                <div class="col-6 col-md-3 mb-0">{{ form.total_horas|as_crispy_field }}</div>
                <div class="col-6 col-md-3 mb-0">{{ form.cantidad_cursos|as_crispy_field }}</div>
                <div class="col-6 col-md-3 mb-0">{{ form.monto_propuesta|as_crispy_field }}</div>
                <div class="col-6 col-md-3 mb-0">{{ form.margen_contribucion|as_crispy_field }}</div>
                <div class="col-6 col-md-3 mb-0">{{ form.utilidad_esperada|as_crispy_field }}</div>
                <div class="col-6 col-md-3 mb-0">{{ form.exito|as_crispy_field }}</div>
                <div class="col-6 mb-0">{{ form.lugar|as_crispy_field }}</div>
                <div class="col-6 mb-0">{{ form.fecha_inicio_estimada|as_crispy_field }}</div>
                <div class="col-12 mb-0">
                    <label class="col-form-label">{{ form.servicios_incluidos.label }}</label>
                    <div class="form-group">
                        {% for value, text in form.servicios_incluidos.field.choices %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="id_servicios_incluidos_{{ forloop.counter0 }}"
                                name="{{ form.servicios_incluidos.name }}" type="checkbox" value="{{ value }}"
                                {% if value in checked_servicios_incluidos %} checked="checked" {% endif %}>
                            <label class="form-check-label">{{ text }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 mb-0">{{ form.observacion|as_crispy_field }}</div>
                <div class="col-12 mb-0">{{ form.anexo|as_crispy_field }}</div>
                <div class="col-12 mb-0">{{ form.nombre|as_crispy_field }}</div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <button type="submit" class="btn btn-secondary green-bg">Guardar</button>
            <a class="btn btn-secondary" href="{% url 'propuesta_corporativa' %}"> Cancelar </a>
        </div>
    </div>
    {{ form.media }}
</form>

{% block extrafooter %}
<script type="text/javascript">
    window.onload = function () {
        document.getElementById("id_cod_propuesta").readOnly = true;
    };
</script>
{% endblock extrafooter %}
{% endblock content %}