{% extends 'base_financiero.html' %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ "EC - Presupuestos Evento" }}{% endblock title %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/presupuestos.css' %}">
<div class="row d-flex mb-2 white-bg">
	<div class="col-9 v-align">
        <h2 class="text-uppercase">CONSULTAS <span class="darkgreen-text">Presupuestos Eventos</span></h2>
    </div>
	<div class="col-3 col-xl-3 v-align">
		<a class="btn btn-secondary green-bg float-right" href="{% url 'nuevo_presupuestos' %}"><i class="fas fa-plus"></i>
			Agregar nuevo</a>
	</div>
</div>
<div class="row darkwhite-bg py-2 mb-2">
	<div class="col-12 col-xl-12">
		<form method="get">
			{% csrf_token %}
			<div class="row">
				<div class="col-4 col-xl-4">
					{{ filter.form.codigo|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					{{ filter.form.nombre|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					{{ filter.form.aula|as_crispy_field }}
				</div>

			</div>
			<div class="row">
				<div class="col-4 col-xl-4">
					{{ filter.form.modalidad|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					{{ filter.form.empresa|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					{{ filter.form.nombre_instructor|as_crispy_field }}
				</div>
			</div>
			<div class="row">

				<div class="col-4 col-xl-4">
					{{ filter.form.fecha|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					{{ filter.form.horario|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					{{ filter.form.n_horas|as_crispy_field }}
				</div>
			</div>
			<div class="row">


				<div class="col-4 col-xl-4">
					{{ filter.form.costo_hora_instructor|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					{{ filter.form.n_dias|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					{{ filter.form.n_participantes|as_crispy_field }}
				</div>
			</div>
			<div class="row">



				<div class="col-4 col-xl-4">
					{{ filter.form.estado|as_crispy_field }}
				</div>
			</div>

			<button type="submit" class="btn btn-secondary green-bg float-right">
				<i class="fas fa-search"></i> Buscar</button>
			{{ filter.form.media }}
		</form>

	</div>
</div>

<div class="row mt-4">
	<div class="col-12 col-xl-12">
		<table id="dtBasicExample" class="table table-responsive-md  border-bottom">
			<thead class="white-text darkgreen-bg">
				<tr>
					<th scope="col">Código</th>
					<th scope="col">Nombre</th>
					<th scope="col">Fecha</th>
					<th scope="col">Aula</th>
					<th scope="col">Horas</th>
					<th scope="col">No. Días</th>
					<th scope="col">No. Participantes</th>
					<th scope="col">Estado</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			{% if presupuestos %}
			<tbody>
				{% for p in presupuestos %}
				<tr class="text-center">
					<td scope="row">{{p.codigo}}</td>
					<td scope="row">{{p.nombre}}</td>
					<td scope="row">{{p.fecha}}</td>
					<td scope="row">{{p.aula}}</td>
					<td scope="row">{{p.n_horas}}</td>
					<td scope="row">{{p.n_dias}}</td>
					<td scope="row">{{p.n_participantes}}</td>
					<td scope="row">{{p.estado}}</td>
					<td scope="row">
						<a class="btn btn-secondary btn-sm" href="{% url 'editar_presupuestos' pk=p.id %}"><i
								class="fas fa-edit"></i></a>

						<a href='javascript:;' onclick='eliminar({{ p.id }});' class="btn btn-danger btn-sm"><i
								class="fas fa-trash"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
			{% else %}
			<h2>No hay elementos que mostrar</h2>
			{% endif %}
		</table>
	</div>
</div>



<!--
<ul class="pagination justify-content-center">
		{% if presupuestos.has_previous %}
		
		<li class="page-item">

			<a class="page-link" href="?page={{ presupuestos.previous_page_number }}">Anterior</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="?page={{ presupuestos.previous_page_number }}">{{ presupuestos.previous_page_number }}</a>
		</li>

		{% else %}
			<li class="page-item disabled">
			<a class="page-link" tabindex="-1" href="#">Anterior</a>
		</li>
		{% endif %}

    
    <li class="page-item active">
    	<span class="page-link">
        {{ presupuestos.number }}
        <span class="sr-only">(current)</span>
      </span>
    </li>

    {% if presupuestos.has_next %}
    <li class="page-item">
			<a class="page-link" href="?page={{ presupuestos.next_page_number }}">{{ presupuestos.next_page_number }}</a>
		</li>
    	<li class="page-item">
			<a class="page-link" href="?page={{ presupuestos.next_page_number }}">Siguiente</a>
		</li>
		
	
	{% else %}
		<li class="page-item disabled">
			<a class="page-link" tabindex="-1" href="#">Siguiente</a>
		</li>
	{% endif %}

  </ul>
-->

<div id="myModal" class="modal">

	<div class="modal-content">
		<span class="close">&times;</span>
		<div id="modal-form">

		</div>
	</div>
</div>
{% endblock %}
{% block extrafooter%}
<script src="{% static 'js/table.js' %}"></script>

<script>
	function eliminar(id) {
		var modal = document.getElementById("myModal");
		modal.style.display = "block";

		var span = document.getElementsByClassName("close")[0];


		span.onclick = function () {
			modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function (event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}

		$.ajax({
			url: "{% url 'eliminar_presupuestos' %}",
			data: { "pk": id },
			success: function (data) {
				$("#modal-form").html(data);
			}
		});
	}

	function cerrar(e) {
		var modal = document.getElementById("myModal");
		modal.style.display = "block";
		modal.style.display = "none";

	}
</script>
{% endblock extrafooter %}