{% extends "base_financiero.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load staticfiles %}
{% block title %}{{ "EC - Orden de pago" }}{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/odenpago.css' %}">
<div class="row">
    <div class="col-9 col-xl-9">
            <h2>Orden de Pago</h2>
    </div>
    <div class="col-3 col-xl-3">
            <a class="btn btn-secondary float-right" href="{% url 'orden_pago_nuevo' %}"><i class="fas fa-plus"></i> Agregar nuevo</a>
    </div>
</div>
<div class="campo"><h5 class="campo">Consultas</h5></div>
<div class="row">
	<div class="col-12 col-xl-12">
		<form method="GET">
			{% csrf_token %}
			<div class="row">
				<div class="col-6 col-xl-6">
					{{ filter.form.cod_ord_pago|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-4 col-xl-4">
					{{ filter.form.estado|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					{{ filter.form.proveedor|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					{{ filter.form.fecha|as_crispy_field }}
				</div>
			</div>
			<div>
            	<button  type="submit" class="btn btn-secondary float-right">
                <span class="fas fa-search"></span> Buscar</button>
            </div>
		</form>
	</div>
</div>
<br>
<div class="row">
	<div class="col-12 col-xl-12">
	{% if ordenes_pago %}
		<div class="table-container">
			<table id="dtBasicExample" class="table table-bordered">
				<thead class="thead-light">
					<tr>
						<th scope="col">Acciones</th>
						<th scope="col">Código</th>
						<th scope="col">Fecha</th>
						<th scope="col">Estado</th>
						<th scope="col">Proveedor</th>
						<th scope="col">Centro de costos</th>
						<th scope="col">Egreso</th>
						<th scope="col">N° comprobante</th>
						<th scope="col">Forma de pago</th>
						<th scope="col">Anexos</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for orden in filter.qs %}
					<tr>
						<td scope="row">
							<a class="btn btn-secondary btn-sm" href="{% url 'orden_pago_editar' orden.id %}"><i class="fas fa-edit"></i></a>
							<a href='javascript:;' onclick='anular({{ orden.id }});' class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                		</td>
						<td scope="row">{{ orden.cod_ord_pago }}</td>
						<td scope="row">{{ orden.fecha }}</td>
						<td scope="row">{{ orden.get_estado_display }}</td>
						<td scope="row">{{ orden.proveedor }}</td>
						<td scope="row">{{ orden.centro_costos }}</td>
						<td scope="row">{{ orden.egreso }}</td>
						<td scope="row">{{ orden.n_comprobante }}</td>
						<td scope="row">{{ orden.get_forma_pago_display }}</td>
						<td scope="row">
							{% if ordenIngreso.anexo %}
			                    <a class="btn btn-secondary" href="#" target="_blank"> Descargar</a>
			                {% else %}
			                    No anexo
			                {% endif %}
						</td>
						<td>
							<a class="btn btn-secondary btn-sm btn-block" href="#"><i class="fas fa-print"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<h4>No hay elementos que mostrar</h4>
	{% endif %}
	</div>
</div>

<div id="myModal" class="modal">
  	<div class="modal-content">
	    <span class="close">&times;</span>
	    <div id="modal-form">
	    </div>
  	</div>
</div>

{% endblock %}

{% block extrafooter %}
<script>
  	function anular(id){
  		var modal = document.getElementById("myModal");
  		modal.style.display = "block";

		var span = document.getElementsByClassName("close")[0];


		span.onclick = function() {
			modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}

		$.ajax({
			url: "{% url 'orden_pago_anular' %}",  
			data:{
				"pk": id
			}, 
			success: function (data) {   
				$("#modal-form").html(data);  
			}
		});
	}

	function cerrar(e){
		var modal = document.getElementById("myModal");
  		modal.style.display = "block";
		modal.style.display = "none";
	}

</script>
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}