{% extends "base_financiero.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load staticfiles %}
{% block title %}{{ "EC - Orden de pago" }}{% endblock %}

{% block content %}

<form method="POST" novalidate id="ordenPagoForm" enctype="multipart/form-data" data-egresos-url="{% url 'ajax_load_egresos' %}"
	data-proveedor-url="{% url 'ajax_load_proveedor' %}"  >
	{% csrf_token %}
	<div class="row mb-2">
		<div class="col">
			<h2 class="text-uppercase darkgreen-text">Edición Orden de Pago</h2>
		</div>
	</div>
	<div class="row darkwhite-bg py-2">
		<div class="col-12">
			<div class="form-row">
				<input type="hidden" name="estado" value='{{form.estado.value}}' />
				<div class="col-3">
					{{ form.estado|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-3">
					{{ form.cod_ord_pago|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-3">
					{{ form.n_tramite|as_crispy_field }}
				</div>
				
			</div>
			<div class="form-row">
				<div class="col-4 col-xl-3">
					{{ form.fecha|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-3">
					{{ form.fecha_tramite|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-3">
					{{ form.fecha_pago|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
                <input type="hidden" name="tipo_proveedor" value='{{form.tipo_proveedor.value}}' />
				<div class="col-3 col-xl-3">
					{{ form.tipo_proveedor|as_crispy_field }}
                </div>
				<input type="hidden" name="proveedor" value='{{form.proveedor.value}}' />
				<div class="col-8 col-xl-6" id="field-proveedor">
					<div id="div_id_ruc_ci" class="form-group">
						<label for="{{ form.proveedor.id_for_label }}" class="col-form-label requiredField"
							id="ruc_ci">Razón
							social/Nombre</label><span class="asteriskField">*</span>
						<div>
							{{ form.proveedor}}
							{% if form.proveedor.errors %}
							{% for error in form.proveedor.errors %}
							<p class="invalid-feedback d-block">
								<strong>{{ error }}</strong>
							</p>
							{% endfor %}
							{% endif %}

						</div>
					</div>
				</div>
				<input type="hidden" id='rn' value="{{ form.proveedor.value }}">
			</div>
			<div class="form-row">
				<input type="hidden" name="centro_costos" value='{{form.centro_costos.value}}' />
				<div class="col-3 col-xl-3">
					{{ form.centro_costos|as_crispy_field }}
				</div>
				<input type="hidden" name="egreso" value='{{form.egreso.value}}' />
				<div class="col-9 col-xl-6">
					{{ form.egreso|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<input type="hidden" name="tipo_comprobante" value='{{form.tipo_comprobante.value}}' />
				<div class="col-4 col-xl-4">
					{{ form.tipo_comprobante|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					{{ form.n_comprobante|as_crispy_field }}
				</div>
				<input type="hidden" name="forma_pago" value='{{form.forma_pago.value}}' />
				<div class="col-4 col-xl-4">
					{{ form.forma_pago|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="col-12 col-xl-6">
					{{ form.documentos|as_crispy_field }}
				</div>
				<div id="div_id_anexo" class="form-group">
					<label for="id_anexo" class="col-form-label requiredField">
						Anexo<span class="asteriskField">*</span>
					</label>
					<div class="">
						{% if form.anexo.value %}
						<a class="btn btn-secondary btn-sm" href="{{form.anexo.value.url}}" target="_blank">
							Descargar
						</a>
						{% else %}
						{{form.anexo}}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-12 col-xl-6">
					{{ form.concepto|as_crispy_field }}
				</div>
				<div class="col-12 col-xl-6">
					{{ form.observacion|as_crispy_field }}
				</div>
			</div>
		</div>
	</div>
	{% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
  {% endif %}

  {% if form.errors %}
    <div class="alert alert-error">
      <h4>Please fix the following errors</h4>
      <ul>
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
    </div>
  {% endif %}
	<div class="row mt-3">
		<div class="col-12">
			<button type="submit" class="btn btn-secondary green-bg">Guardar</button>
			<a class="btn btn-secondary" href="{% url 'orden_pago_lista' %}"> Cancelar </a>
		</div>
		
	</div>
	{{ form.media }}
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{% static 'js/orden_pago.js' %}"></script>

<script type="text/javascript">
	window.onload = function () {
		document.getElementById("id_cod_ord_pago").readOnly = true;
		document.getElementById("id_estado").disabled = true;
	};

	$("#id_centro_costos").change(function () {
		var url = $("#ordenPagoForm").attr("data-egresos-url");
		var ccId = $(this).val();
		$.ajax({
			url: url,
			data: {
				'centro_costos': ccId
			},
			success: function (data) {
				$("#id_egreso").html(data);
			}
		});
	});

</script>
{% endblock %}