{% extends "base_financiero.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load staticfiles %}
{% block title %}{{ "EC - Orden de pago" }}{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-9 col-xl-9">
            <h2>Orden de Pago</h2>
    </div>
    <div class="col-3 col-xl-3">
            <a class="btn btn-secondary float-right" href="{% url 'orden_pago_nuevo' %}"><i class="fas fa-plus"></i> Agregar nuevo</a>
    </div>
</div>
<div class="campo"><h5 class="campo">Consultas</h5></div>
<div class="row">
	<div class="col-12 col-xl-12">
		<form method="GET">
			{% csrf_token %}
			<div class="row">
				<div class="col-6 col-xl-6">
					{{ filter.form.cod_ord_pago|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-4 col-xl-4">
					{{ filter.form.estado|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					{{ filter.form.proveedor|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					{{ filter.form.fecha|as_crispy_field }}
				</div>
			</div>
			<div>
            	<button  type="submit" class="btn btn-secondary float-right">
                <span class="fas fa-search"></span> Buscar</button>
            </div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-12 col-xl-12">
	{% if ordenes_pago %}
		<div class="table-container">
			<table class="table table-bordered">
				<thead class="thead-light">
					<tr>
						<th scope="col">Código</th>
						<th scope="col">Fecha</th>
						<th scope="col">Estado</th>
						<th scope="col">Proveedor</th>
						<th scope="col">Centro de costos</th>
						<th scope="col">Egreso</th>
						<th scope="col">N° comprobante</th>
						<th scope="col">Forma de pago</th>
						<th scope="col">Anexos</th>
					</tr>
				</thead>
				<tbody>
					{% for orden in filter.qs %}
					<tr>
						<td scope="row">
							<a class="btn btn-secondary btn-sm" href="#"><i class="fas fa-edit"></i></a>
                			<a href='#' class="btn btn-danger"><i class="fas fa-trash"></i></a>
                		</td>
						<td scope="row">{{ orden.cod_ord_pago }}</td>
						<td scope="row">{{ orden.fecha }}</td>
						<td scope="row">{{ orden.estado }}</td>
						<td scope="row">{{ orden.proveedor }}</td>
						<td scope="row">{{ orden.centro_costos }}</td>
						<td scope="row">{{ orden.egreso }}</td>
						<td scope="row">{{ orden.n_comprobante }}</td>
						<td scope="row">{{ orden.forma_pago }}</td>
						<td scope="row">
							{% if ordenIngreso.anexo %}
			                    <a class="btn btn-secondary" href="#" target="_blank"> Descargar</a>
			                {% else %}
			                    No anexo
			                {% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<h4>No hay elementos que mostrar</h4>
	{% endif %}
	</div>
</div>

{% endblock %}