{% extends 'base_ventas.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ "EC - Persona Natural" }}{% endblock title %}

{% block extraheader %}
<link rel="stylesheet" type="text/css" href="{% static 'css/natural.css' %}">
  
{% endblock extraheader %}

{% block content %}
<div class="row" id="title">
	<div class="col-9">
            <h2>Persona Natural</h2>
    </div>
    <div class="col-3 ">
            <a class="btn btn-secondary float-right" href="nuevo"><i class="fas fa-plus"></i> Agregar nuevo</a>
    </div>
</div>
<div class="campo">
	<h5 class="consultas campo" class="col-12 col-xl-12">Consultas</h5>
</div>
<div class="row">
	<div class = "col-12 col-xl-12">
		<form method="GET">
			{% csrf_token %}
			<div class="row">
				<div class="col-6 col-xl-6">
				<!--{{ naturales_filter.form.cedula.label_tag }}
					{{ naturales_filter.form.cedula }}-->
					{{ naturales_filter.form.cedula|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
				<!--{{ naturales_filter.form.nombres.label_tag }}
					{{ naturales_filter.form.nombres }}-->
					{{ naturales_filter.form.nombres|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-xl-6">
				<!--{{ naturales_filter.form.apellidos.label_tag }}
					{{ naturales_filter.form.apellidos }}-->
					{{ naturales_filter.form.apellidos|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
				<!--{{ naturales_filter.form.empresa.label_tag }}
					{{ naturales_filter.form.empresa }}-->
					{{ naturales_filter.form.empresa|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-xl-6">
				<!--{{ naturales_filter.form.un_tercernivel.label_tag }}
					{{ naturales_filter.form.un_tercernivel }}-->
					{{ naturales_filter.form.un_tercernivel|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
				<!--{{ naturales_filter.form.cargo.label_tag }}
					{{ naturales_filter.form.cargo }}-->
					{{ naturales_filter.form.cargo|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-xl-6">
				<!--{{ naturales_filter.form.profesion.label_tag }}
					{{ naturales_filter.form.profesion }}-->
					{{ naturales_filter.form.profesion|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
				<!--{{ naturales_filter.form.ci_domicilio.label_tag }}
					{{ naturales_filter.form.ci_domicilio }}-->
					{{ naturales_filter.form.ci_domicilio|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-4 col-xl-4">
				<!--{{ naturales_filter.form.tel_domicilio.label_tag }}
					{{ naturales_filter.form.tel_domicilio }}-->
					{{ naturales_filter.form.tel_domicilio|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
				<!--{{ naturales_filter.form.celular.label_tag }}
					{{ naturales_filter.form.celular }}-->
					{{ naturales_filter.form.celular|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
				<!--{{ naturales_filter.form.email.label_tag }}
					{{ naturales_filter.form.email }}-->
					{{ naturales_filter.form.email|as_crispy_field }}
				</div>
			</div>
			<div>
				<button  type="submit" class="btn btn-secondary float-right">
					<i class="fas fa-search"></i> Buscar</button>
				</div>
			</form>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-12 col-xl-12">
{% if naturales %}
	<div class="table-container">
		<table class="table table-bordered">
			<thead class="thead-light">
				<tr>
					<th scope="col">Cédula</th>
					<th scope="col">Apellidos</th>
					<th scope="col">Nombres</th>
					<th scope="col">Fecha de Nacimiento</th>
					<th scope="col">Telefono</th>
					<th scope="col">Celular</th>
						<th scope="col">Email</th>
						<th scope="col">Ciudad</th>
						<th scope="col">Dirección</th>
						<th scope="col">Nivel de Estudio</th>
						<th scope="col">Titulo Tercer Nivel</th>
						<th scope="col">Universidad Tercer Nivel</th>
						<th scope="col">Titulo Postgrado</th>
						<th scope="col">Universidad Postgrado</th>
						<th scope="col">Profesión</th>
						<th scope="col">Trabajo</th>
						<th scope="col">Empresa</th>
						<th scope="col">Cargo</th>
						<th scope="col">Ciudad Trabajo</th>
						<th scope="col">Area/Departamento</th>
						<th scope="col">Dirección Trabajo</th>
						<th scope="col">Teléfono Trabajo</th>
						<th scope="col">Red Social</th>
					</tr>
				</thead>
				<tbody>
					{% for persona in naturales %}
					<tr>
						<td scope="row">{{ persona.cedula }}</td>
						<td scope="row">{{ persona.apellidos }}</td>
						<td scope="row">{{ persona.nombres }}</td>
						<td scope="row">{{ persona.fecha_nacimiento }}</td>
						<td scope="row">{{ persona.tel_domicilio }}</td>
						<td scope="row">{{ persona.celular }}</td>
						<td scope="row">{{ persona.email }}</td>
						<td scope="row">{{ persona.ci_domicilio }}</td>
						<td scope="row">{{ persona.dir_domicilio }}</td>
						<td scope="row">{{ persona.nivel_estudio }}</td>
						<td scope="row">{{ persona.ti_tercernivel }}</td>
						<td scope="row">{{ persona.un_tercernivel }}</td>
						<td scope="row">{{ persona.ti_postgrado }}</td>
						<td scope="row">{{ persona.un_postgrado }}</td>
						<td scope="row">{{ persona.profesion }}</td>
						<td scope="row">{{ persona.forma_trabajo }}</td>
						<td scope="row">{{ persona.empresa }}</td>
						<td scope="row">{{ persona.cargo }}</td>
						<td scope="row">{{ persona.ci_trabajo }}</td>
						<td scope="row">{{ persona.area }}</td>
						<td scope="row">{{ persona.dir_trabajo }}</td>
						<td scope="row">{{ persona.tel_trabajo }}</td>
						<td scope="row">{{ persona.medios }}</td>
					</tr>
					{% endfor%}
				</tbody>
			</table>
		</div>
{% else %}
	<h4>No hay elementos que mostrar</h4>
{% endif %}
		</div>
	</div>
<ul class="pagination justify-content-center">
		{% if naturales.has_previous %}
		
		<li class="page-item">

			<a class="page-link" href="?page={{ naturales.previous_page_number }}">Anterior</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="?page={{ naturales.previous_page_number }}">{{ naturales.previous_page_number }}</a>
		</li>

		{% else %}
			<li class="page-item disabled">
			<a class="page-link" tabindex="-1" href="#">Anterior</a>
		</li>
		{% endif %}

    
    <li class="page-item active">
    	<span class="page-link">
        {{ naturales.number }}
        <span class="sr-only">(current)</span>
      </span>
    </li>

    {% if naturales.has_next %}
    <li class="page-item">
			<a class="page-link" href="?page={{ naturales.next_page_number }}">{{ naturales.next_page_number }}</a>
		</li>
    	<li class="page-item">
			<a class="page-link" href="?page={{ naturales.next_page_number }}">Siguiente</a>
		</li>
		
	
	{% else %}
		<li class="page-item disabled">
			<a class="page-link" tabindex="-1" href="#">Siguiente</a>
		</li>
	{% endif %}

  </ul>

		{% endblock %}
