{% extends 'base_ventas.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load staticfiles %}
{% block title %}{{ "EC - Persona Natural" }}{% endblock title %}


{% block content %}
<div class="row mb-2 d-flex white-bg">
	<div class="col-9 v-align">
		<h2>CONSULTAS <span class="darkgreen-text">PERSONA NATURAL</span></h2>
	</div>
	<div class="col-3 v-align">
		<a class="btn btn-secondary green-bg float-right" href="nuevo"><i class="fas fa-plus"></i>
			Agregar Nuevo</a>
	</div>
</div>
<div class="row darkwhite-bg py-2">
	<div class="col-12">
		<form method="GET">
			{% csrf_token %}
			<div class="row">
				<div class="col-6 col-xl-6">
					<!--{{ naturales_filter.form.cedula.label_tag }}
					{{ naturales_filter.form.cedula }}-->
					{{ naturales_filter.form.cedula|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
					<!--{{ naturales_filter.form.nombres.label_tag }}
					{{ naturales_filter.form.nombres }}-->
					{{ naturales_filter.form.nombres|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-xl-6">
					<!--{{ naturales_filter.form.apellidos.label_tag }}
					{{ naturales_filter.form.apellidos }}-->
					{{ naturales_filter.form.apellidos|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
					<!--{{ naturales_filter.form.empresa.label_tag }}
					{{ naturales_filter.form.empresa }}-->
					{{ naturales_filter.form.empresa|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-xl-6">
					<!--{{ naturales_filter.form.un_tercernivel.label_tag }}
					{{ naturales_filter.form.un_tercernivel }}-->
					{{ naturales_filter.form.un_tercernivel|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
					<!--{{ naturales_filter.form.cargo.label_tag }}
					{{ naturales_filter.form.cargo }}-->
					{{ naturales_filter.form.cargo|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-xl-6">
					<!--{{ naturales_filter.form.profesion.label_tag }}
					{{ naturales_filter.form.profesion }}-->
					{{ naturales_filter.form.profesion|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
					<!--{{ naturales_filter.form.ci_domicilio.label_tag }}
					{{ naturales_filter.form.ci_domicilio }}-->
					{{ naturales_filter.form.ci_domicilio|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-4 col-xl-4">
					<!--{{ naturales_filter.form.tel_domicilio.label_tag }}
					{{ naturales_filter.form.tel_domicilio }}-->
					{{ naturales_filter.form.tel_domicilio|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					<!--{{ naturales_filter.form.celular.label_tag }}
					{{ naturales_filter.form.celular }}-->
					{{ naturales_filter.form.celular|as_crispy_field }}
				</div>
				<div class="col-4 col-xl-4">
					<!--{{ naturales_filter.form.email.label_tag }}
					{{ naturales_filter.form.email }}-->
					{{ naturales_filter.form.email|as_crispy_field }}
				</div>
			</div>
			<div>
				<button type="submit" class="btn btn-secondary green-bg float-right">
					<i class="fas fa-search"></i> Buscar</button>
			</div>
		</form>
	</div>
</div>
<br>
<div class="row mt-2">
	<div class="col-12 col-xl-12">
		<table id="dtBasicExample" class="table table-responsive">
			<thead class="white-text darkgreen-bg">
				<tr>
					<th scope="col">Cédula</th>
					<th scope="col">Apellidos</th>
					<th scope="col">Nombres</th>
					<th scope="col">Fecha de Nacimiento</th>
					<th scope="col">Telefono</th>
					<th scope="col">Celular</th>
					<th scope="col">Email</th>
					<th scope="col">Ciudad</th>
					<th scope="col">Dirección</th>
					<th scope="col">Nivel de Estudio</th>
					<th scope="col">Titulo Tercer Nivel</th>
					<th scope="col">Universidad Tercer Nivel</th>
					<th scope="col">Titulo Postgrado</th>
					<th scope="col">Universidad Postgrado</th>
					<th scope="col">Profesión</th>
					<th scope="col">Trabajo</th>
					<th scope="col">Empresa</th>
					<th scope="col">Cargo</th>
					<th scope="col">Ciudad Trabajo</th>
					<th scope="col">Area/Departamento</th>
					<th scope="col">Dirección Trabajo</th>
					<th scope="col">Teléfono Trabajo</th>
					<th scope="col">Red Social</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			{% if naturales %}

			<tbody>
				{% for persona in naturales %}
				<tr class="text-center">
					<td scope="row">{{ persona.cedula }}</td>
					<td scope="row">{{ persona.apellidos }}</td>
					<td scope="row">{{ persona.nombres }}</td>
					<td scope="row">{{ persona.fecha_nacimiento }}</td>
					<td scope="row">{{ persona.tel_domicilio }}</td>
					<td scope="row">{{ persona.celular }}</td>
					<td scope="row">{{ persona.email }}</td>
					<td scope="row">{{ persona.ci_domicilio }}</td>
					<td scope="row">{{ persona.dir_domicilio }}</td>
					<td scope="row">{{ persona.nivel_estudio }}</td>
					<td scope="row">{{ persona.ti_tercernivel }}</td>
					<td scope="row">{{ persona.un_tercernivel }}</td>
					<td scope="row">{{ persona.ti_postgrado }}</td>
					<td scope="row">{{ persona.un_postgrado }}</td>
					<td scope="row">{{ persona.profesion }}</td>
					<td scope="row">{{ persona.forma_trabajo }}</td>
					<td scope="row">{{ persona.empresa }}</td>
					<td scope="row">{{ persona.cargo }}</td>
					<td scope="row">{{ persona.ci_trabajo }}</td>
					<td scope="row">{{ persona.area }}</td>
					<td scope="row">{{ persona.dir_trabajo }}</td>
					<td scope="row">{{ persona.tel_trabajo }}</td>
					<td scope="row">{{ persona.medios }}</td>
					<td scope="row">
						<a class="btn btn-light btn-sm btn-block" href="{% url 'natural_editar' persona.cedula %}"><i
								class="fas fa-edit darkgreen-text"></i></a>
						<a onclick='eliminar({{ persona.cedula }});' class="btn btn-light btn-sm btn-block"
							data-toggle='modal' data-target="#personaEliminar" href='#'><i
								class="fas fa-trash darkgreen-text"></i></a>
					</td>
				</tr>
				{% endfor%}
			</tbody>
			{% else %}
			<h2>No hay elementos que mostrar</h2>
			{% endif %}
		</table>
	</div>
</div>
<!--
<ul class="pagination justify-content-center">
	{% if naturales.has_previous %}

	<li class="page-item">

		<a class="page-link" href="?page={{ naturales.previous_page_number }}">Anterior</a>
	</li>
	<li class="page-item">
		<a class="page-link" href="?page={{ naturales.previous_page_number }}">{{ naturales.previous_page_number }}</a>
	</li>

	{% else %}
	<li class="page-item disabled">
		<a class="page-link" tabindex="-1" href="#">Anterior</a>
	</li>
	{% endif %}


	<li class="page-item active">
		<span class="page-link">
			{{ naturales.number }}
			<span class="sr-only">(current)</span>
		</span>
	</li>

	{% if naturales.has_next %}
	<li class="page-item">
		<a class="page-link" href="?page={{ naturales.next_page_number }}">{{ naturales.next_page_number }}</a>
	</li>
	<li class="page-item">
		<a class="page-link" href="?page={{ naturales.next_page_number }}">Siguiente</a>
	</li>


	{% else %}
	<li class="page-item disabled">
		<a class="page-link" tabindex="-1" href="#">Siguiente</a>
	</li>
	{% endif %}

</ul>
-->
<div class="modal fade" id="personaEliminar" tabindex="-1" role="dialog" aria-labelledby="ordenTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		</div>
	</div>
</div>


{% endblock %}

{% block extrafooter %}
<script src="{% static 'js/table.js' %}"></script>
<script>

	function eliminar(id) {
		$.ajax({
			url: "{% url 'natural_eliminar' %}",
			data: { "cedula": id },
			success: function (data) {
				$(".modal-content").html(data);
			}
		});
	}
</script>
{% endblock extrafooter %}