{% extends 'base_ventas.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ "EC - Persona Natural Nuevo Ingreso" }}{% endblock title %}

{% block extraheader %}
{% endblock extraheader %}

{% block content %}
<form method="POST" novalidate>
	{% csrf_token %}
	<div class="row mb-2">
		<div class="col-12 col-xl-12">
			<h2 class="text-uppercase darkgreen-text">
				{% block regedit %}
				Registro Persona Natural
				{% endblock regedit %}
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="mt-2 campo p-2 pl-3 col-12">
			<h5 class="black-text text-uppercase mb-0">Información básica</h5>
		</div>
	</div>
	<div class="row darkwhite-bg py-2">
		<div class="col-12">
			<div class="form-row">
				<div class="col-6">
					{{ form.cedula|as_crispy_field }}
				</div>
				<div class="col-6">
					{{ form.apellidos|as_crispy_field }}
				</div>
				<div class="col-6">
					{{ form.nombres|as_crispy_field }}
				</div>
				<div class="col-6">
					{{ form.fecha_nacimiento|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="mt-2 campo p-2 pl-3 col-12">
					<h5 class="black-text text-uppercase mb-0">Datos de contacto</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-md-3">
					{{ form.tel_domicilio|as_crispy_field }}
				</div>
				<div class="col-6 col-md-3">
					{{ form.celular|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
					{{ form.email|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
					{{ form.ci_domicilio|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
					{{ form.dir_domicilio|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="mt-2 campo p-2 pl-3 col-12">
					<h5 class="black-text text-uppercase mb-0">Datos de estudios</h5>
				</div>
			</div>

			{{ form.nivel_estudio.label_tag }}
			{% for opc in form.nivel_estudio %}
			{{ opc }}
			{% endfor %} <br>
			<div class="row">
				<div class="col-6 col-xl-6">
					{{ form.ti_tercernivel|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
					{{ form.un_tercernivel|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-xl-6">
					{{ form.ti_postgrado|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
					{{ form.un_postgrado|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-xl-6">
					{{ form.profesion|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="mt-2 campo p-2 pl-3 col-12">
					<h5 class="black-text text-uppercase mb-0">Datos del trabajo</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-xl-6">
					{{ form.forma_trabajo|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-xl-6">
					<!--{{ form.empresa.label_tag }}-->
					{{ form.empresa|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
					<!--{{ form.cargo.label_tag }}-->
					{{ form.cargo|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-xl-6">
					<!--{{ form.ci_trabajo.label_tag }}-->
					{{ form.ci_trabajo|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
					<!--{{ form.area.label_tag }}-->
					{{ form.area|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-xl-6">
					<!--{{ form.dir_trabajo.label_tag }}-->
					{{ form.dir_trabajo|as_crispy_field }}
				</div>
				<div class="col-6 col-xl-6">
					<!--{{ form.tel_trabajo.label_tag }}-->
					{{ form.tel_trabajo|as_crispy_field }}
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-xl-6">
					{{ form.medios|as_crispy_field }}
				</div>
				<div class="col-12 col-xl-12">
					{{ form.novedad_medios|as_crispy_field }}
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-12">
			<button type="submit" class="btn btn-secondary green-bg">Guardar</button>
			<a class="btn btn-secondary" href="{% url 'natural_lista' %}"> Cancelar </a>
		</div>
	</div>
</form>
{% endblock %}