<div class="modal-header">
    <h5 class="modal-title" id="ordenTitle">Anulación de Orden de Ingreso {{ordenIngreso.cod_orden_ing}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="POST" action="{% url 'ordenIngreso_eliminar' ordenIngreso.id %}">
    {% csrf_token %}

    <div class="modal-body">
        ¿Está seguro que desea eliminar la siguiente orden de ingreso?
        Código: {{ordenIngreso.cod_orden_ing}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-secondary green-bg mr-3" type="submit"> Eliminar </button>
    </div>
</form>