{% load static %}
{% load fontawesome_5 %}
{% load bootstrap4 %}

<!doctype "html5">


<html>
	<head>
		
		<meta charset="utf-8">
		<title>
			{% block title %}{{ page_title|default:"Educación Continua Financiero" }}{% endblock title %}
   		</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
		
		{% bootstrap_css %}
		{% fontawesome_5_static %}
		
		{% block extraheader %}
		  
		{% endblock extraheader %}

		
	</head>

	<body>
		<div class="container-fluid">
			<div class ="row">
		<header class="col-12 col-xl-12">
			<div class="row">
				<a class="col-xl-3 col-6" href="#">
					<img class ="img-fluid" src="{% static 'images/logo_EC.png' %}" alt="logo">
				</a>
				<div class="col-xl-5 col-">
				</div>
				<div class="col-6 col-xl-2">
					<p id="username" >user@mail.com</p>
				</div>
				
				<div class="col-6 col-xl-2">
				<a href=# class="align-middle btn btn-secondary btn-block">Salir</a>
			</div>
			</div>
		</header>
			</div>
		<div class="row menulat">
			<div class="col-3 col-xl-3">
				<div id="menu" class="row">
					<div class="col-12 mlat">
						<div id="titulo" class="row">
							<div class="col-2">
								<i class="fas fa-file-invoice-dollar"></i>
							</div>
							<div class="col-8">
								<h5>Mantenimiento</h5>
							</div>
							<div class="col-2"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<a class="menu" href=#>
							<div class="row">
								<div class="col-12">
										<span> Centro de costos</span>
								</div>
							</div>	
						</a>
					</div>
				</div>
				<div id="menu" class="row">
					<div class="col-12 mlat">
						<div id="titulo" class="row">
							<div class="col-2">
								<i class="fas fa-file-contract"></i>
							</div>
							<div class="col-8">
								<h5>Consultas</h5>
							</div>
							<div class="col-2"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<a class="menu" href="{% url 'orden_facturacion' %}">
							<div class="row border-bottom">
								<div class="col-12">
									<span>Orden de facturación</span>
								</div>
							</div>	
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<a class="menu" href="#">
							<div class="row border-bottom">
								<div class="col-12">
										<span>Cobros</span>
								</div>
							</div>	
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-12 dropright">
						<a class="menu" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div class="row">
								<div class="col-12">
									<span>Orden de pago</span>
									<i class="float-right fas fa-angle-right"></i>

								</div>
							</div>	
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" id="op_sec" href="#">Por Criterio</a>
							<a class="dropdown-item" id="op_sec" href="#">Pendientes de Procesos</a>
						</div>
					</div>
				</div>

				<div id="menu" class="row">
					<div class="col-12 mlat">
						<div id="titulo" class="row">
							<div class="col-2">
								<i class="fas fa-file-invoice-dollar"></i>
							</div>
							<div class="col-8">
								<h5>Procesos</h5>
							</div>
							<div class="col-2"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<a class="menu" href="#">
							<div class="row border-bottom">
								<div class="col-12">
										<span>Autorización</span>
								</div>
							</div>	
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<a class="menu" href="#">
							<div class="row border-bottom">
								<div class="col-12">
										<span>Solicitud de pago</span>
								</div>
							</div>	
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<a class="menu" href="#">
							<div class="row">
								<div class="col-12">
										<span>Registro de facturas</span>
								</div>
							</div>	
						</a>
					</div>
				</div>
				<div id="menu" class="row">
					<div class="col-12 mlat">
						<div id="titulo" class="row">
							<div class="col-2">
									<i class="fas fa-chart-bar"></i>
							</div>
							<div class="col-8">
								<h5>Reportes</h5>
							</div>
							<div class="col-2"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<a class="menu" href="#">
							<div class="row border-bottom">
								<div class="col-12">
										<span>Conciliación de ingresos</span>
								</div>
							</div>	
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<a class="menu" href="#">
							<div class="row border-bottom">
								<div class="col-12">
										<span>Resultado de eventos</span>
								</div>
							</div>	
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<a class="menu" href="#">
							<div class="row border-bottom">
								<div class="col-12">
										<span>Consolidado por evento</span>
								</div>
							</div>	
						</a>
					</div>
				</div>
			</div>
			<div class="col-9 col-xl-9">
				<div class="row">
					<div class="col-12 col-xl-12">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<footer class="col-12 col-xl-12"></footer>
	</div>
		
		{% bootstrap_javascript jquery='full' %}
		{% block extrafooter %}
		  
		{% endblock extrafooter %}
	</body>
</html>