{% load static %}
{% load fontawesome_5 %}
{% load bootstrap4 %}

<!doctype "html5">


<html>
	<head>
		
		<meta charset="utf-8">
		<title>
			{% block title %}{{ page_title|default:"Educación Continua" }}{% endblock title %}
   		</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
		


		{% bootstrap_css %}
		{% fontawesome_5_static %}
		
	</head>

	<body>
		<div class="container-fluid">
			<div class ="row">
		<header class="col-12 col-xl-12">
			<div class="row">
				<a class="col-xl-3 col-3" href="#">
					<img class ="col-xl-12 col-12 img-fluid" src="{% static 'images/logo_EC.png' %}" alt="logo">
				</a>
				<div class="col-xl-5 col-5">
				</div>
				<p id="username" class="col-2 col-xl-2">user@mail.com</p>
				<div class="col-2 col-xl-2">
				<a href=# class="align-middle btn btn-secondary btn-block">Salir</a>
			</div>
			</div>
		</header>
			</div>
		<div class="row">
			<div class="col-3 col-xl-3">
				<div class="row">
					<div id="menu" class="col-12 col-xl-12">
						<h3>Menú</h3>
						<a href="{% url 'index' %}">Persona Natural</a>
						<a href="{% url 'index_juridicas' %}">Persona Jurídica</a>
						<a href=#>Consultas/Reportes</a>
						<a href=#>Informe Ventas</a>
					</div>
				</div>
				<div class="row">
				<div id="extras" class="col-12 col-xl-12">
					<div>
						<i class="fas fa-map"></i>  Reporte de contacto <a id="plus" href="#"><i class="fas fa-angle-right"></i></a>
					</div>
					<div>
						<i class="fas fa-file-contract"></i>  Propuestas <a id="plus" href="#"><i class="fas fa-angle-right"></i></a>
					</div>
					<div>
						<i class="fas fa-map-marked-alt"></i>  Seguimientos <a id="plus" href="#"><i class="fas fa-angle-right"></i></a>
					</div>
					<div>
						<i class="fas fa-file-contract"></i>  Proformas <a id="plus" href="#"><i class="fas fa-angle-right"></i></a>
					</div>
					<div>
						<i class="fas fa-globe"></i>  Leads <a id="plus" href="#"><i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			</div>
			<div class="col-9 col-xl-9">
				<div class="row">
					<div class="col-12 col-xl-12">
				{% block content %}
				{% endblock %}
			</div>
				</div>
			</div>
		</div>
		<footer class="col-12 col-xl-12">salu2 jeje</footer>
	</div>
		
		{% bootstrap_javascript jquery='full' %}
	</body>
</html>