{% load static %}
{% load fontawesome_5 %}
{% load bootstrap4 %}

<!doctype "html5">


<html>
	<head>
		
		<meta charset="utf-8">
		<title>
			{% block title %}{{ page_title|default:"Educación Continua" }}{% endblock title %}
   		</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
		{% block extraheader %}
		  
		{% endblock extraheader %}


		{% bootstrap_css %}
		{% fontawesome_5_static %}
		
	</head>

	<body>
		<div class="container-fluid">
			<div class ="row">
		<header class="col-12 col-xl-12">
			<div class="row">
				<a class="col-xl-8 col-8" href="#">
					<img class ="col-xl-12 col-12" src="{% static 'images/logo_EC.png' %}" alt="logo">
				</a>
				<p id="username" class="col-2 col-xl-2">user@mail.com</p>
				<button id="salir" class="col-2 col-xl-2">Salir</button>
			</div>
		</header>
			</div>
		<div class="row">
			<div class="col-3 col-xl-3">
				<div id="menu">
					<h3>Menú</h3>
					<a href=#>Persona Natural</a>
					<a href=#>Persona Jurídica</a>
					<a href=#>Consultas/Reportes</a>
					<a href=#>Informe Ventas</a>
				</div>
				<div id="extras">
					<div>
						<i class="fas fa-map"></i>  Reporte de contacto <a id="plus" href="#"><i class="fas fa-angle-right"></i></a>
					</div>
					<div>
						<i class="fas fa-file-contract"></i>  Propuestas <a id="plus" href="#"><i class="fas fa-angle-right"></i></a>
					</div>
					<div>
						<i class="fas fa-map-marked-alt"></i>  Seguimientos <a id="plus" href="#"><i class="fas fa-angle-right"></i></a>
					</div>
					<div>
						<i class="fas fa-file-contract"></i>  Proformas <a id="plus" href="#"><i class="fas fa-angle-right"></i></a>
					</div>
					<div>
						<i class="fas fa-globe"></i>  Leads <a id="plus" href="#"><i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-9 col-xl-9">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<footer class="col-12 col-xl-12">salu2 jeje</footer>
	</div>
		
		{% bootstrap_javascript jquery='full' %}
		{% block extrafooter %}
		  
		{% endblock extrafooter %}
	</body>
</html>