{% extends "orden_facturacion_nuevo.html" %}

{% block editar%}
{% if form.estado.value == "SLCE" %}

    <div class="form-row">
        <div class="col-6 mb-0">
            <div id="div_id_n_tramite" class="form-group">
                <label for="id_n_tramite" class="col-form-label requiredField">
                    N° de trámite<span class="asteriskField">*</span>
                </label>
                <div class="">
                    {{form.n_tramite}}
                </div>
            </div>
        </div>
        <div class="col-6 mb-0">
            <div id="div_id_n_factura" class="form-group">

                <label for="id_n_factura" class="col-form-label requiredField">
                    N° de factura<span class="asteriskField">*</span>
                </label>
                <div class="">
                    {{form.n_factura}}
                </div>
            </div>
        </div>
        <div class="col-12 mb-0">
            <div id="div_id_anexo_factura" class="form-group">
                <label for="id_anexo_factura" class="col-form-label requiredField">
                    Anexo de factura<span class="asteriskField">*</span>
                </label>
                <div class="">
                    {{form.anexo_factura}}
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endif %}
<input type="hidden" id='rc' value="{{form.ruc_ci.value}}">
<input type="hidden" id='rn' value="{{form.razon_nombres.value}}">
{% endblock editar%}

{% block btn %}
<a class="btn btn-success" href="{% url 'orden_facturacion' %}">Cancelar</a>
{% endblock btn %}
