<div class="modal-header">
    <h5 class="modal-title" id="ordenTitle">Anulación de factura {{orden.cod_orden_fact}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="POST" action="{% url 'orden_facturacion_eliminar' orden.id %}" >
    {% csrf_token %}

    <div class="modal-body">
        ¿Está segura que desea anular la siguiente orden de facturación?
        Código: {{orden.cod_orden_fact}}
        <br>
        Estado: {{orden.get_estado_display}}
        <br>
        <br>
        Ingrese el motivo de la anulación
        {{ form.motivo_anular }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button id="anular" class="btn btn-secondary green-bg mr-3" type="submit" disabled> Anular </button>
    </div>
</form>