<div class="modal-header">
    <h5 class="modal-title" id="ordenTitle">Anulación de factura {{orden.cod_orden_fact}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="POST" action="{% url 'orden_facturacion_eliminar' orden.id %}">
    {% csrf_token %}

    <div class="modal-body">
        ¿Está segura que desea solicitar la anulación la siguiente factura?
        Código: {{orden.cod_orden_fact}}
        <br>
        Estado: {{orden.get_estado_display}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-danger mr-3" type="submit"> Eliminar </button>
    </div>
</form>