{% extends "base_financiero.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load my_tags %}
{% block title %}{{ "EC - Orden Facturación" }}{% endblock title %}

{% block extraheader %}

{% endblock extraheader %}

{% block content %}
<div class="row mb-2 d-flex white-bg">
    <div class="col-9 v-align">
        <h2>CONSULTAS <span class="darkgreen-text">ORDEN DE FACTURACION</span></h2>
    </div>
    <div class="col-3 v-align">
        <a class="btn btn-secondary green-bg float-right" href="{% url 'orden_facturacion_nuevo' %}"><i
                class="fas fa-plus"></i>
            Nueva Orden</a>
    </div>
</div>
<div class="row darkwhite-bg py-2">
    <div class="col-12">
        <form action="" method="get">
            <div class="form-row ">
                <div class="col-6 col-md-3">
                    {{ filter.form.cod_orden_fact|as_crispy_field }}
                </div>
                <div class="col-6 col-md-3">
                    {{ filter.form.ruc_ci|as_crispy_field }}
                </div>
                <div class="col-6 col-md-3">
                    {{ filter.form.razon_nombres|as_crispy_field }}
                </div>
                <div class="col-6 col-md-3">
                    {{ filter.form.fecha|as_crispy_field }}
                </div>
                <div class="col-6 col-md-3">
                    {{ filter.form.estado|as_crispy_field }}
                </div>

                <div class="col-6 col-md-3">
                    {{ filter.form.n_tramite|as_crispy_field }}
                </div>
                <div class="col-6 col-md-3">
                    {{ filter.form.n_factura|as_crispy_field }}
                </div>

            </div>
            <button type="submit" class="btn btn-secondary green-bg float-right">
                <i class="fas fa-search"></i> Buscar</button>
        </form>

    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <a class="btn btn-lg float-right btn-light" href="#"><i class="fas fa-file-pdf" data-toggle="tooltip"
                data-placement="top" title="Exportar a pdf"></i></a>
        <a class="btn btn-lg float-right btn-light" href="#"><i class="fas fa-file-excel" data-toggle="tooltip"
                data-placement="top" title="Exportar a excel"></i></a>
        <table id="dtBasicExample" class="table table-responsive-md border-bottom">
            <thead class="white-text darkgreen-bg">
                <!--
                    <tr>
                        <form action="" method="get">
                            <th scope="col">{{ filter.form.cod_orden_fact|as_crispy_field }}</th>
                            <th scope="col">{{ filter.form.razon_nombres|as_crispy_field }}</th>
                            <th scope="col">{{ filter.form.ruc_ci|as_crispy_field }}</th>
                            <th scope="col">{{ filter.form.fecha|as_crispy_field }}</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">{{ filter.form.estado|as_crispy_field }}</th>
                            <th scope="col">{{ filter.form.n_tramite|as_crispy_field }}</th>
                            <th scope="col">{{ filter.form.n_factura|as_crispy_field }}</th>
                            <th scope="col">
                                <button type="submit" class="btn btn-secondary  btn-block">
                                    <i class="fas fa-search"></i> </button>
                            </th>
                        </form>

                    </tr>-->
                <tr>
                    <th scope="col">Código Orden</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Identificación</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cant. Particip.</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">N° trámite</th>
                    <th scope="col">N° factura</th>
                    <th scope="col">Acciones</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {% if filter.qs %}

            <tbody>

                {% for orden in filter.qs %}
                <tr class="text-center">
                    <td scope="row">{{orden.cod_orden_fact}}</td>
                    <td scope="row">{{orden.razon_nombres}}</td>
                    <td scope="row">{{orden.ruc_ci}}</td>
                    <td scope="row">{{orden.fecha}}</td>
                    <td scope="row">{{orden.n_participantes}}</td>
                    <td scope="row">{{orden.valor_total|currency}}</td>
                    <td scope="row">{{orden.get_estado_display}}</td>
                    <td scope="row">{{orden.n_tramite}}</td>
                    <td scope="row">{{orden.n_factura}}</td>
                    <td scope="row">

                        
                        <a class="btn btn-light btn-sm" href="{% url 'orden_facturacion_editar' orden.id %}">
                            <i class="fas fa-edit darkgreen-text"></i></a>
                        

                        {% if orden.estado == 'ACTV' %}
                        <a onclick='eliminar({{ orden.id }});' class="btn btn-light btn-sm" data-toggle='modal'
                            data-target="#ordenEliminarCenter" href='#'>
                            <i class="fas fa-trash darkgreen-text"></i></a>
                        {% endif%}
                        <a class="btn btn-light btn-sm" href="#" data-toggle="tooltip" data-placement="top"
                            title="Imprimir">
                            <i class="fas fa-print darkgreen-text"></i></a>
                        <!--
                            {% if orden.anexo_factura %}
                            <a class="btn btn-secondary btn-sm" href="{{orden.anexo_factura.url}}" target="_blank">
                                <i class="fas fa-download"></i>
                            </a>
                            {% endif %}
                            -->
                    </td>
                    {% if orden.estado == 'ANLD' %}
                    <td scope="row">{{orden.motivo_anular}}</td>
                    {%endif%}
                </tr>
                {% endfor %}


            </tbody>
            {% else %}
            <h2>No hay elementos que mostrar</h2>
            {% endif %}
        </table>
       
    </div>
</div>
<div class="modal fade" id="ordenEliminarCenter" tabindex="-1" role="dialog" aria-labelledby="ordenTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

{% endblock content %}

{% block extrafooter %}

<script src="{% static 'js/table.js' %}"></script>
<script>

    function eliminar(id) {
        $.ajax({
            url: "{% url 'orden_facturacion_confirmar_eliminar' %}",
            data: {
                'pk': id
            },
            success: function (data) {
                $(".modal-content").html(data)
            }
        });
    };
</script>
<script>
    $(document).on("change",'#id_motivo_anular', function(){
        if ($(this).val().length>20){
            $('#anular').attr('disabled',false);
        }
        else{
            $('#anular').attr('disabled',true);
        }
    })
</script>
{% endblock extrafooter %}