{% extends "base_coordinador.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load index %}

{% block title %}{{ "EC - Orden de facturación" }}{% endblock title %}


{% block content %}
<form method="POST" novalidate id="form-fact" enctype="multipart/form-data" ,
  data-persona-url="{% url 'ajax_load_personas' %}" data-confirmacion-url="{% url 'ajax_verificar_campos' %}"
  data-natural-url="{% url 'natural_nuevo'%}" data-juridica-url="{% url 'juridicas_view' %}"
  data-info-url="{% url 'ajax_info_id' %}">
  {% csrf_token %}
  {% block editar %}

  <div class="row mb-2">
    <div class="col-12">
      <h2 class="darkgreen-text text-uppercase">Registro de Orden de Facturación</h2>
    </div>
  </div>
  {% endblock editar %}
  <div class="row darkwhite-bg py-2">
    <div class="col-12">
      {{form.cod_orden_fact}}
      {{form.estado}}
      <div class="form-row">
        <div class="col-6 col-md-3 mb-0">
          {{ form.fecha|as_crispy_field }}
        </div>
        <div class="col-6 col-md-3 mb-0">

          {{form.tipo_cliente|as_crispy_field}}
          <small class="form-text text-muted">Seleccione el tipo de cliente</small>

        </div>
        <div class="col-6 col-md-3 mb-0 " id="field-ruc-ci">
          <div id="div_id_ruc_ci" class="form-group">
            <label for="{{ form.ruc_ci.id_for_label}}" class="col-form-label requiredField"
              id="ruc_ci">RUC/CI</label><span class="asteriskField">*</span>
            <div>
              {{ form.ruc_ci}}
              {% if form.ruc_ci.errors %}
              {% for error in form.ruc_ci.errors %}
              <p class="invalid-feedback d-block">
                <strong>{{ error }}</strong>
              </p>
              {% endfor %}
              {% endif %}

            </div>
          </div>
        </div>

        <div class="col-6 col-md-3 mb-0 " id="field-razon">
          <div id="div_id_razon_nombres" class="form-group">
            <label for="{{ form.razon_nombres.id_for_label}}" class="col-form-label requiredField" id="ra_nom">Razón
              Social/Nombres</label><span class="asteriskField">*</span>
            <div>
              {{ form.razon_nombres}}
              {% if form.razon_nombres.errors %}
              {% for error in form.razon_nombres.errors %}
              <p class="invalid-feedback d-block">
                <strong>{{ error }}</strong>
              </p>
              {% endfor %}
              {% endif %}

            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-md-3">
          <label for="contacto" class="col-form-label">Contacto</label>
          <input type="text" id="contacto" class="form-control" disabled>
        </div>
        <div class="col-12 col-md-6">
          <label for="direccion" class="col-form-label">Dirección</label>
          <input type="text" id="direccion" class="form-control" disabled>
        </div>
        <div class="col-12 col-md-3">
          <label for="telefono" class="col-form-label">Teléfono</label>
          <input type="text" id="telefono" class="form-control" disabled>
        </div>
        <input type="hidden" name="centro_costos" value='{{form.centro_costos.value}}' />
        <div class="col-6 col-md-4">{{ form.centro_costos|as_crispy_field }}</div>
        {% block n_par %}
        {{ form.n_participantes}}
        {% endblock n_par %}
      </div>
      <div class="form-row">
        <div class="col-12 col-md-6">{{ form.concepto|as_crispy_field }}</div>
        <div class="col-12 col-md-6">{{ form.observaciones|as_crispy_field }}</div>
        <div class="col-12 col-md-6">{{ form.comentarios|as_crispy_field }}</div>
      </div>

    </div>
  </div>
  {% block tablas %}

  <div class="mt-3">
    <button type="submit" class="btn btn-secondary green-bg">Siguiente</button>

    <!--<a class="btn btn-secondary " data-toggle='modal' data-target="#ordenAgregarCenter" href='#'
      id="confirmar_guardar">Guardar</a>-->
    <a class="btn btn-secondary" href="{% url 'orden_facturacion' %}">Cancelar</a>
  </div>
  {% endblock tablas %}


  {{ form.media }}
</form>
{% block confirmar%}
{% endblock confirmar%}

{% endblock content %}

{% block extrafooter %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{% static 'js/orden_fact_form.js' %}"></script>

{% block anexos %}
{% endblock anexos %}

{% endblock extrafooter %}