{% extends "base_financiero.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ "EC - Orden Facturación" }}{% endblock title %}

{% block extraheader %}

{% endblock extraheader %}

{% block content %}
<div class="row">
    <div class="col-9">
        <h2>Consulta Orden de Facturación</h2>
    </div>
    <div class="col-3 ">
        <a class="btn btn-secondary float-right" href="{% url 'orden_facturacion_nuevo' %}"><i class="fas fa-plus"></i>
            Agregar nuevo</a>
    </div>
</div>
<!--<div class="campo">
    <h5 class="campo consultas">Consultas</h5>
</div>
<div class="row">
    <div class="col-12">
        <form action="" method="get">
            <div class="form-row ">
                <div class="col-6 col-md-4">
                    {{ filter.form.cod_orden_fact|as_crispy_field }}
                </div>
                <div class="col-6 col-md-4">
                    {{ filter.form.fecha|as_crispy_field }}
                </div>
                <div class="col-6 col-md-4">
                    {{ filter.form.estado|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ filter.form.ruc_ci|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ filter.form.razon_nombres|as_crispy_field }}
                </div>

            </div>
            <button type="submit" class="btn btn-secondary float-right">
                <i class="fas fa-search"></i> Buscar</button>
        </form>

    </div>
</div>-->

<div class="row mt-4">
    <div class="col-12">
        <div class=" table-responsive">
            <table id="dtBasicExample" class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <form action="" method="get">
                            <th scope="col">{{ filter.form.cod_orden_fact|as_crispy_field }}</th>
                            <th scope="col">{{ filter.form.razon_nombres|as_crispy_field }}</th>
                            <th scope="col">{{ filter.form.ruc_ci|as_crispy_field }}</th>
                            <th scope="col">{{ filter.form.fecha|as_crispy_field }}</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">{{ filter.form.estado|as_crispy_field }}</th>
                            <th scope="col">{{ filter.form.n_tramite|as_crispy_field }}</th>
                            <th scope="col">{{ filter.form.n_factura|as_crispy_field }}</th>
                            <th scope="col">
                                <button type="submit" class="btn btn-secondary  btn-block">
                                    <i class="fas fa-search"></i> </button>
                            </th>
                        </form>

                    </tr>
                    <tr>
                        <th scope="col">Código Orden</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Identificación</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">N° participantes</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">N° trámite</th>
                        <th scope="col">N° factura</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                {% if filter.qs %}
                <tbody>

                    {% for orden in filter.qs %}
                    <tr>
                        <td scope="row">{{orden.cod_orden_fact}}</td>
                        <td scope="row">{{orden.razon_nombres}}</td>
                        <td scope="row">{{orden.ruc_ci}}</td>
                        <td scope="row">{{orden.fecha}}</td>
                        <td scope="row">{{orden.n_participantes}}</td>
                        <td scope="row">{{orden.valor_total}}</td>
                        <td scope="row">{{orden.get_estado_display}}</td>
                        <td scope="row">{{orden.n_tramite}}</td>
                        <td scope="row">{{orden.n_factura}}</td>

                        <td scope="row">

                            {% if orden.estado != 'ANLD' %}
                            <a class="btn btn-secondary btn-sm btn-block"
                                href="{% url 'orden_facturacion_editar' orden.id %}"><i class="fas fa-edit"></i></a>
                            <a onclick='eliminar({{ orden.id }});' class="btn btn-danger btn-sm btn-block"
                                data-toggle='modal' data-target="#ordenEliminarCenter" href='#'><i
                                    class="fas fa-trash"></i></a>
                            {% endif%}
                            {% if orden.anexo_factura %}
                            <a class="btn btn-secondary btn-sm" href="{{orden.anexo_factura.url}}" target="_blank">
                                <i class="fas fa-download"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}


                </tbody>
                {% else %}
            </table>
            <h4>No hay elementos que mostrar</h4>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal fade" id="ordenEliminarCenter" tabindex="-1" role="dialog" aria-labelledby="ordenTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

{% endblock content %}

{% block extrafooter %}

<script src="{% static 'js/table.js' %}"></script>
<script>

    function eliminar(id) {
        $.ajax({
            url: "{% url 'orden_facturacion_confirmar_eliminar' %}",
            data: {
                'pk': id
            },
            success: function (data) {
                $(".modal-content").html(data)
            }
        });
    };
</script>
{% endblock extrafooter %}