{% extends "orden_facturacion_nuevo.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block editar%}
{% load index %}
<h2>Orden de Facturación {{form.cod_orden_fact.value}} </h2>
{% if form.estado.value == "ACPF" or form.estado.value == "PNDP" %}
<div class="form-row">
    <div class="col-6 mb-0">
        <div id="div_id_n_tramite" class="form-group">
            <label for="id_n_tramite" class="col-form-label requiredField">
                N° de trámite<span class="asteriskField">*</span>
            </label>
            <div class="">
                {{form.n_tramite}}
            </div>
        </div>
    </div>
    <div class="col-6 mb-0">
        <div id="div_id_n_factura" class="form-group">

            <label for="id_n_factura" class="col-form-label requiredField">
                N° de factura<span class="asteriskField">*</span>
            </label>
            <div class="">
                {{form.n_factura}}
            </div>
        </div>
    </div>
    <div class="col-12 mb-0">
        <div id="div_id_anexo_factura" class="form-group">
            <label for="id_anexo_factura" class="col-form-label requiredField">
                Anexo de factura<span class="asteriskField">*</span>
            </label>
            <div class="">
                {% if form.anexo_factura.value %}
                <a class="btn btn-secondary btn-sm" href="{{form.anexo_factura.value.url}}" target="_blank">
                    Descargar
                </a>
                {% else %}
                {{form.anexo_factura}}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr>

{% endif %}

<input type="hidden" id='rc' value="{{form.ruc_ci.value}}">
<input type="hidden" id='rn' value="{{form.razon_nombres.value}}">
{% endblock editar%}

{% block tablas %}

<div class="row">
    <h4 class="col-12">Participantes</h4>
    {% if form.estado.value == "ACTV" %}
    <div class="col-12 mb-2">
        <a id="add" class="btn btn-secondary btn-sm" href="{% url 'participante_nuevo' orden_id %}">Agregar</a>
    </div>
    {% endif %}
    <div id="tabla" class="table-container col-12">
        <table id="participantes-table" class="table table-bordered table-responsive-md">
            <thead class="thead-light">
                <tr>
                    <th>Participante</th>
                    <th>Nombre del evento</th>
                    <th>Código del evento</th>
                    <th>Valor Evento</th>
                    <th>Descuento (%)</th>
                    <th>Valor total ($)</th>
                    <th></th>
                </tr>
            </thead>
            {% if participantes %}

            <tbody>

                {% for p in participantes %}
                <tr>
                    <td>{{ p.participante }}</td>
                    <td>{{ p.nombre_evento }}</td>
                    <td>{{ p.cod_evento }}</td>
                    <td class="sum">{{ p.valor_evento }}</td>
                    <td>{{ p.descuento }}</td>
                    <td class="sum">{{ p.valor }}</td>
                    <td>
                        {% if form.estado.value == "ACTV" %}

                        <a class="btn btn-secondary btn-sm" href="{% url 'participante_editar' p.id orden_id %}"><i
                                class="fas fa-edit"></i></a>
                        <a onclick='eliminar({{ p.id }});' class="btn btn-danger btn-sm" data-toggle='modal'
                            data-target="#ordenEliminarCenter" href='#'><i class="fas fa-trash"></i></a>
                        {% endif %}

                    </td>
                </tr>
                {% endfor%}
            </tbody>
            {% endif %}
        </table>

    </div>
</div>
<div id="summary" class="form-row">
    <div class="col-6 col-md-3">{{ form.subtotal|as_crispy_field }}</div>
    <div class="col-6 col-md-3">{{ form.descuento_fact|as_crispy_field }}</div>
    <div class="col-6 col-md-3">{{ form.descuento_total|as_crispy_field }}</div>
    <div class="col-6 col-md-3">{{ form.valor_total|as_crispy_field }}</div>
</div>
<div class="mt-3">
    <a class="btn btn-secondary " data-toggle='modal' data-target="#ordenAgregarCenter" href='#'
        id="confirmar_guardar">Guardar</a>
    <a class="btn btn-light" href="{% url 'orden_facturacion' %}">Cancelar</a>
    {% if form.estado.value == "ACTV" %}
    <button id="env-sol" class="btn btn-success float-right">Enviar
        solicitud</button>
    {% endif %}
</div>


<div class="modal fade" id="ordenAgregarCenter" tabindex="-1" role="dialog" aria-labelledby="ordenTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ordenTitle">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-confirmacion">

            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-secondary mr-3">Confirmar</button>
            </div>
        </div>
    </div>
</div>
{% endblock tablas %}

{% block confirmar%}

<div class="modal fade" id="ordenEliminarCenter" tabindex="-1" role="dialog" aria-labelledby="ordenTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="participante-confirmacion">
        </div>
    </div>
</div>
{% endblock confirmar%}

{% block n_par %}
{% if form.estado.value != "ACTV" %}
<div class="col-6 col-md-4">{{ form.n_participantes|as_crispy_field}}</div>
{%else%}
{{block.super}}
{% endif %}
{% endblock n_par %}

{% block anexos %}
<script>

    function eliminar(id) {
        $.ajax({
            url: "{% url 'participante_confirmar_eliminar' %}",
            data: {
                'pk': id,
                'fk': "{{orden_id}}"
            },
            success: function (data) {
                $("#participante-confirmacion").html(data)
            }
        });
    };


    function roundToTwo(num) {
        return +(Math.round(num + "e+2") + "e-2");
    }

    /**
     * Funcion para sumar columnas de tablas basados en los td de clase sum
     * table_id El identificador de la tabla (id o clase)
     * return Un arreglo de igual tamaño que la cantidad de columnas con los valores sumados en la posicion correspondiente
     */
    function sumtr(table_id) {
        var s = [];
        var r = 0;
        $(table_id + " tbody tr").each(function (index) {
            var col = 0;
            $(this).children("td").each(function () {
                if ($(this).is(".sum")) {
                    if (s.length < col + 1) s[col] = 0;
                    var val = parseFloat($(this).html().replace(',', '.'));

                    s[col] = s[col] + val;
                } else {
                    s[col] = "noCount"; // a flag which tells us we're not counting that column
                }
                col++;
            });
            r++;
        });
        $("#id_n_participantes").val(r);
        return s;
    }

    $('.select2').trigger('change.select2')

    $('#env-sol').click(function(e){
        e.preventDefault();
        $("#id_estado").val("SLCE");
        $("#form-fact").trigger("submit");
    });

    if ($('#participantes-table tbody tr').length > 0) {
        $('#env-sol').removeClass('disabled');

        s = sumtr("#participantes-table");

        $("#id_subtotal").val(s[3]);
        $("#id_valor_total").val(s[5]);
        $("#id_descuento_total").val(roundToTwo(s[3] - s[5]));
        $("#id_descuento_fact").val(roundToTwo(((s[3] - s[5]) / s[3]) * 100));
    }
    else {
        $('#env-sol').addClass('disabled');
        $("#id_subtotal").val(0);
        $("#id_valor_total").val(0);
        $("#id_descuento_total").val(0);
        $("#id_descuento_fact").val(0);
    }


</script>

<script>

    $("#confirmar_guardar").click(function (e) {
        $.ajax({
            url: $('#form-fact').attr("data-confirmacion-url"),
            success: function (data) {
                $("#modal-confirmacion").html(data);
            }
        })
    });
</script>

{% if form.estado.value == "ACPF" %}
<script>
    var has_anexo = false;
    var has_n_tra = false;
    var has_n_fact = false;
    verificar();
    function isInteger(str) {
        return /^\d*$/.test(str);
    }

    function change_state_btn() {
        if (has_anexo && has_n_tra && has_n_fact) {
            $("#id_estado").val("PNDP");
        }
        else {
            $("#id_estado").val("ACPF");
        }
    }

    function verificar() {
        has_anexo = $("#id_anexo_factura").get(0).files.length !== 0;

        has_n_fact = isInteger($("#id_n_factura").val());

        has_n_tra = isInteger($("#id_n_tramite").val());

        change_state_btn()
    }

    $("#id_anexo_factura").change(function () {
        has_anexo = $(this).get(0).files.length !== 0;
        change_state_btn()
    });

    $("#id_n_factura").focusout(function () {
        has_n_fact = isInteger($(this).val());
        change_state_btn()
    });

    $("#id_n_tramite").focusout(function () {
        has_n_tra = isInteger($(this).val());
        change_state_btn()
    });
</script>
{% endif %}
{% endblock anexos%}