header{
	display: inline-block;
}

div#menu #titulo{
	background-color: #A4A4A4;
	color: #FFFFFF;
	justify-content: center;
	border-width: 2px;
}

p#username{
	align-self: center;
}

button#salir{
	height: 40px;
	width: 25%;
	border-color: #A4A4A4;
	background-color: #A4A4A4;
	color: #FFFFFF;
	align-self: center;
	border-radius: 5px;
}


a.menu .row:hover{
	background-color: #D8D8D8
}


div>i{
	padding-right: 1%;
}

a#plus{
	background-color: #A4A4A4;
	align-items: right;
	color: #FFFFFF;
	padding-left: 3%;
}

.asteriskField{
	color: red;
	font-weight: bolder;
}

.container .form-group {
	margin-bottom: 0;
}

.mlat:hover, .menu:hover{
	text-decoration: none;
}

.mlat .row:hover, .drp:hover{
	background-color: lightgrey;
	color: black;
}

.menu .row, .mlat .row{
	padding: 12px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	color:black;
}

.mlat .row{
	background-color: #A4A4A4;
	color: #FFFFFF;

}

div.campo{
	background-color: #A4A4A4;
	text-align: left;
}

h5.campo{
	color: #FFFFFF;
	margin-bottom: 8px !important;
	padding: 5px 0px;
}

h5.consultas{
	width: 100%;
	background-color: #A4A4A4;
	color: #FFFFFF;
	text-align: center;
}

.btnact{
	width: 40px;
	margin-bottom: 10px;
	height: 32px;
}

.menulat h5{
	margin: 0px;
}

.select2-container .select2-selection--single{
	height:38px !important;
	width: 100% !important;
}

.select2-container .select2-selection--multiple{
	height:38px !important;
	width: 100% !important;
}

.select2-container--default .select2-selection--single{
	border: 1px solid #ccc !important; 
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px !important;
}

.select2-selection__choice{
	display: block !important;
}

input[type=date]{
	padding-top: 5px;
	padding-bottom: 5px;
}

.form-group{
	margin-bottom: 10px !important;
}

.table thead th{
	vertical-align: top !important;
	text-align: center;
}

.table td{
	vertical-align: middle !important;
}

.table {
	font-size: 12px;
}