{% extends "base_ventas.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-3">
<h2 class="col-12">Reporte de Contacto</h2>
</div>
<div class="row">
<div class="col-12">
    <form action="" method="get">
        <div class="form-row ">
            <div class="col-6">
                {{ filter.form.cod_reporte|as_crispy_field }}
            </div><div class="col-6">
                {{ filter.form.fecha|as_crispy_field }}
            </div>
            <div class="col-6">
                    {{ filter.form.empresa|as_crispy_field }}
                </div>
            <div class="col-6">
                {{ filter.form.canal_de_contacto|as_crispy_field }}
            </div>

            <div class="col-6">
                <button type="submit" class="btn btn-secondary">Buscar</button>
            </div>
        </div>
    </form>
            
</div>
</div>

<div class="row mt-4">
    <div class="col-12">
<table class="table table-bordered">
    <thead>
        <tr>
            <td>N</td>
            <td>Empresa</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>

        {% if filter %}
        {% for reporte in filter.qs %}
        <tr>
            <td>{{reporte.id}}</td>
            <td>{{reporte.empresa}}</td>
            <td>
                <a class="btn btn-secondary" href="{% url 'reporte_editar' reporte.id%}"><i class="fas fa-edit"></i></a>
                <a class="btn btn-danger" href="{% url 'reporte_eliminar' reporte.id%}"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay datos</h1>
        {% endif %}

    </tbody>
</table>
<a class="btn btn-secondary" href="{% url 'reporte_nuevo' %}">Agregar nuevo</a>
</div>
</div>
{% endblock content %}