{% extends "base_ventas.html" %}

{% block content %}
<div class="row justify-content-md-center mt-5">
    <form method="POST">
        {% csrf_token %}
        <h3>¿Está seguro que desea eliminar el reporte {{ object.id }} {{ object.empresa }}?</h3>
        <div class="col">
            <div class="row justify-content-center">
                    <button class="btn btn-danger mr-3" type="submit"> Sí </button>
                    <a class="btn btn-secondary" href="{% url 'reporte_contacto' %}"> No </a>
            </div>
        </div>
    </form>
</div>

{% endblock content %}