<div class="row justify-content-md-center mt-5">
    <form method="POST" action="{% url 'eliminar_juridica' object.id %}">
        {% csrf_token %}
        <h3>¿Está seguro que desea eliminar el presupuesto {{ object.id }} {{ object.nombre }}?</h3>
        <div class="col">
            <div class="row justify-content-center">
                    <button class="btn btn-danger mr-3" type="submit" onclick="close_form(event)"> Sí </button>
                    <a href='javascript:;' onclick='cerrar(event);' class="btn btn-secondary"> No </a>
            </div>
        </div>
    </form>
</div>
