{% extends 'base_ventas.html' %}

{% load crispy_forms_tags %}


{% load static %}
{% load staticfiles %}

{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" />
<div class="row mb-2">
	<div class="col-12 col-xl-12">
		<h2 class="text-uppercase darkgreen-text">
			{% block regedit %}
			Registro Persona Jurídica
			{% endblock regedit %}
		</h2>
	</div>
</div>
<div class="row">
	<div class="campo col-12 mt-2 p-2 pl-3">
		<h5 class="black-text mb-0 text-uppercase">Información Empresa</h5>
	</div>
</div>

<form method="post" id="forma_test" data-cities-url="{% url 'ajax_load_ciudades' %}" novalidate>
	{% csrf_token %}
	<div class="row darkwhite-bg py-2">
		<div class="col-12">
			<div class=" form-row">
				<div class="col-6 col-xl-4">
					{{ form.nombre |as_crispy_field}}
				</div>
				<div class="col-6 col-xl-3">
					{{ form.ruc|as_crispy_field}}
				</div>
				<div class="col-6 col-xl-2">
					{{ form.tipo_empresa|as_crispy_field}}
				</div>
				<div class="col-6 col-xl-3">
					{{ form.sector|as_crispy_field}}
				</div>
			</div>
			<div class="form-row">
				<div class="col-12 col-xl-6">
					{{ form.direccion |as_crispy_field}}
				</div>
				<div class="col-3 col-xl-3">
					{{ form.provincia|as_crispy_field}}
				</div>
				<div class="col-3 col-xl-3">
					{{ form.ciudad|as_crispy_field}}
				</div>
			</div>
			<div class="form-row">
				<div class="col-3 col-xl-2">
					{{ form.telefono|as_crispy_field}}
				</div>
				<div class="col-3 col-xl-2">
					{{ form.celular|as_crispy_field}}
				</div>
				<div class="col-6 col-xl-4">

					{{ form.correo |as_crispy_field}}
				</div>
				<div class="col-6 col-xl-4">
					{{ form.representante |as_crispy_field}}
				</div>
			</div>
			<div class="form-row">
				<div class="col-6 col-xl-3">

					{{ form.maximo_facturas |as_crispy_field}}
				</div>
				<div class="col-6 col-xl-3">
					{{ form.forma_pago |as_crispy_field}}
				</div>
			</div>

			<div class="row">
				<div class="campo col-12 mt-2 p-2 pl-3 ">
					<h5 class="black-text text-uppercase mb-0">Contacto empresa</h5>
				</div>
			</div>

			<div class="form-row">
				<div class="col-2 col-xl-2">
					{{ form.contacto_cedula|as_crispy_field}}
				</div>

				<div class="col-5 col-xl-5">

					{{ form.contacto_nombres |as_crispy_field}}
				</div>

				<div class="col-5 col-xl-5">

					{{ form.contacto_apellidos|as_crispy_field}}
				</div>
			</div>
			<div class="form-row">
				<div class="col-6 col-xl-6">
					{{ form.contacto_cargo |as_crispy_field}}
				</div>
				<div class="col-6 col-xl-6">

					{{ form.contacto_correo |as_crispy_field}}
				</div>
			</div>
			<div class="form-row">
				<div class="col-6 col-xl-6">

					{{ form.contacto_telefono|as_crispy_field}}
				</div>
				<div class="col-6 col-xl-6">

					{{ form.contacto_celular|as_crispy_field}}
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-12">
			<button type="submit" class="btn btn-secondary green-bg">Guardar</button>
			<a class="btn btn-secondary" href="{% url 'index_juridicas' %}"> Cancelar </a>
		</div>
	</div>
	</div>
	{{ form.media }}
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
	$("#id_provincia").change(function () {
		var url = $("#forma_test").attr("data-cities-url");  // get the url of the `load_cities` view
		var provinciaId = $(this).val();  // get the selected country ID from the HTML input

		$.ajax({                       // initialize an AJAX request
			url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			data: {
				'provincia': provinciaId       // add the country id to the GET parameters
			},
			success: function (data) {   // `data` is the return of the `load_cities` view function
				$("#id_ciudad").html(data);  // replace the contents of the city input with the data that came from the server
			}
		});

	});
</script>
{% endblock %}