
{% extends 'base_ventas.html' %}

{% load crispy_forms_tags %}


{% load static %}
{% load staticfiles %}

{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/juridicas_forma.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" />
<div class="row">
<div class="col-12 col-xl-12">
<div class="row">
	<div class="col-12 col-xl-12">
		<h2>Registro Persona Jurídica</h2>
	</div>
</div>
	<div class="campo">
		<h5 class="campo">Información Empresa</h5>
	</div>
<form method="post" id="forma_test" data-cities-url="{% url 'ajax_load_ciudades' %}" >
	{% csrf_token %}
	<div class="row">
		<div class="col-8 col-xl-8">
		    {{ form.nombre |as_crispy_field}}
		</div>
		<div class="col-4 col-xl-4">
		     {{ form.ruc|as_crispy_field}}
		</div>
	</div>
	<div class="row">
		<div class="col-8 col-xl-8">

		    {{ form.tipo_empresa|as_crispy_field}}
		</div>
		<div class="col-4 col-xl-4">
		    {{ form.sector|as_crispy_field}}
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-xl-12">

	    {{ form.direccion |as_crispy_field}}
	</div>
	</div>
	<div class="row">
		<div class="col-3 col-xl-3">
	    {{ form.provincia|as_crispy_field}}
	</div>
	<div class="col-3 col-xl-3">
	    {{ form.ciudad|as_crispy_field}}
	</div>
	<div class="col-3 col-xl-3">
	    {{ form.telefono|as_crispy_field}}
	</div>
	<div class="col-3 col-xl-3">
	    {{ form.celular|as_crispy_field}}
	</div>
	</div>
	<div class="row">
		<div class="col-6 col-xl-6">

	    {{ form.correo |as_crispy_field}}
		</div>
		<div class="col-6 col-xl-6">
	    {{ form.representante |as_crispy_field}}
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-xl-6">

	    {{ form.maximo_facturas |as_crispy_field}}
	</div>
	<div class="col-6 col-xl-6">
	    {{ form.forma_pago |as_crispy_field}}
	</div>
	</div>
	<div class="campo">
		<h5 class="campo">Contacto empresa</h5>
</div>
	<div class="row">
		<div class="col-2 col-xl-2">
	    {{ form.contacto_cedula|as_crispy_field}}
	</div>

		<div class="col-5 col-xl-5">

	    {{ form.contacto_nombres |as_crispy_field}}
	</div>

		<div class="col-5 col-xl-5">

	    {{ form.contacto_apellidos|as_crispy_field}}
	</div>
	</div>
	<div class="row">
		<div class="col-6 col-xl-6">
	    {{ form.contacto_cargo |as_crispy_field}}
	</div>
		<div class="col-6 col-xl-6">

	    {{ form.contacto_correo |as_crispy_field}}
	</div>
	</div>
	<div class="row">
		<div class="col-6 col-xl-6">

	    {{ form.contacto_telefono|as_crispy_field}}
		</div>
		<div class="col-6 col-xl-6">

	    {{ form.contacto_celular|as_crispy_field}}
	</div>
	</div>
	<div class="row mt-3">
		<div class="col-12">
			<button type="submit" class="btn btn-secondary">Guardar</button>
			<a class="btn btn-light" href="{% url 'index_juridicas' %}"> Cancelar </a>
		</div>
	</div>
	</div>
	{{ form.media }}
</form>
</div>
</div>
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 
  <script>
    $("#id_provincia").change(function () {
      var url = $("#forma_test").attr("data-cities-url");  // get the url of the `load_cities` view
      var provinciaId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'provincia': provinciaId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_ciudad").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
{% endblock %}
